$("#<%= @targetElementId %>").html("<%= escape_javascript(render partial: 'cfall', collection: @customForm.custom_form_elements) %>")
$("#<%= @targetElementId %>").append("<button class='dataFormField healthColor addCustomButton'>Add</button>")
$("#<%= @targetElementId %>").removeClass("hidden")
