/* Swipe works with mouse as well but often causes text selection. */
/* We'll deny text selecton on everything but INPUTs and TEXTAREAs. */
#main-page :not(INPUT):not(TEXTAREA) {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
}
/* Content styling. */
dl { font-family: 'Open Sans', sans-serif; padding: 1em; }
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em; margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }
.back-btn { float: right; margin: 0 2em 1em 0; }


.titleMiddle {
  vertical-align: middle;
  text-align: center;
}

.ui-header.diet-style {
  background-color: #57C88A !important;
  text-shadow: 0 0 0 !important;
}

.ui-header.exercise-style {
  background-color: #F09938 !important;
  text-shadow: 0 0 0 !important;
}

.ui-header.health-style {
  background-color: #8980CA !important;
  text-shadow: 0 0 0 !important;
}

.ui-header.medication-style {
  background-color: #6CC5CC !important;
  text-shadow: 0 0 0 !important;
}

.recentResourcesListview {
  margin-top: 0px !important;
  border-top: 0 !important;
  border-radius: 0 !important;
}