<div style="position:absolute;left:50%;margin-left:-144px;width: 288px;top:100px;font-family: 'Open Sans', sans-serif;font-size: 30px;">
    <center>
        <%= image_tag "logo-login.png", id: "loginLogo", class: "loginLogo", alt: "Login"%>
        <br/>
        <span style="color:white">Forgotten Password</span>
    </center>
</div>


<div class="forgottenDiv">
    <%= form_tag password_resets_path, :method => :post do %>
    <input type="text" class="forgottenField colorField animField" id="forgotten_email_field" name="email" placeholder="Your email address"/><input type="button" class="forgottenButton colorButton animButton" value="Restore"/>
    <% end %>
    <div class="welcomeMessage">
        Please enter your email address below and we will send you a link to restore your password.
    </div>
</div>

<script>
    resetpw_loaded()
</script>