<div class="login-page">

    <div class="login-form-container">
        <div class="login-form-header">
            <h1>SmartDiab</h1>
        </div>

        <div class="placeholder">
        </div>

        <div class="login-form">
            <%= form_tag password_resets_path, :method => :post do %>

                <div>
                    <div class="login-field">
                        <%= text_field_tag :email, "", { :class => 'login-input', :placeholder => "Email"} %>
                    </div>

                    <div class="login-field submit-holder">
                        <button class="login-button">Reset my password!</button>
                    </div>
                </div>
            <% end %>

        </div>
        <div class="register-link-holder">
            <a href="<%= login_path %>" class="register-link">Log in</a>
        </div>
    </div>
</div>
