.mainContainer {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 65px;
}

.mainContent {
  position: relative;
  z-index: 3;
  padding-left: 0px;
  padding-top: 0px !important;
}

.loginDiv {
  margin-bottom: 50px;
}
.topBanner {
  height: 105px;
}

.topBanner .right {
  padding-right: 20px;
  float: right;
  height: 60px;
  padding-top: 60px;
}

.sectionTitle {
  font-size: 18px;
}


