// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../common/config";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: block;
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif;
  color: $default_font_color;
  background-color: #fff;
}

.clearfix::before {
  display: table;
  content: "";
}
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.right {
  float: right;
}
.left {
  float: left;
}

.hidden {
  display: none !important;
  visibility: hidden;
}
.hidden-placed {
   visibility: hidden;
}

.content {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.contenthead-spaceonly {
  position: relative;
  margin-bottom: 20px;

  padding-bottom: 20px;
}

.browser-subnav {
  background-color: white;
}

.browser-subnav-item+.browser-subnav-item {
  margin-left: -1px;
}
.browser-subnav-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.browser-subnav-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.browser-subnav-item {
  position: relative;
  float: left;
  padding: 7px 14px;
  font-weight: bold;
  color: #666;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.browser-subnav-item.selected {
  z-index: 2;
  color: #fff;
  background-color: $default_blue;
  border-color: $default_blue;
}
.browser-subnav-item.selected:hover {

  color: #fff;
  background-color: #4183c4;
}
.browser-subnav-item:hover {
  color: #666;
  background-color: #f5f5f5;
}


.userinfo-container {
  display: table;
}
.userinfo {
  display: table-cell;
}

.userinfo p.title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  padding-top: 0;
  margin: 0;
}
.userinfo p.detail {
  color: #666;
  font-weight: normal;
  padding-top: 0;
  margin: 0;
}

.usericon {
  vertical-align: middle;
  color: $default_blue;
  padding-right: 6px;
}


.columns {
  margin-right: -10px;
  margin-left: -10px;
  box-sizing: border-box;
}
.columns:before {
  display: table;
  content: "";
}

.columns:after {
  display: table;
  clear: both;
  content: "";
}

.column {
  float: left;
//  padding-right: 10px;
//  padding-left: 10px;
}
.columns .column:nth-child(2) {
  padding-left: 5px;
}
.columns .column:nth-child(1) {
  padding-right: 5px;
}
.one-half {
  width: 50%;
}

.boxed-group {
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px;
}

.one-half .boxed-group, .dashboard-sidebar .boxed-group {
  margin-bottom: 20px;
}

.boxed-group>h3, .boxed-group .heading {
  height: 42px;
  background-color: #f5f5f5;
  margin: 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  display: block;

}
.boxed-group>h3 div {
  line-height: 21px;
  vertical-align: middle;
  padding-left: 4px;
  color: #666;
}

.boxed-group>h3 div.selected-meas {
  padding-left: 16px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.boxed-group.flush .boxed-group-inner {
  padding: 0;
}

.boxed-group-inner {
//  padding: 1px 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #666;
  font-size: 13px;
}

.boxed-group-inner.gray {
  background: whitesmoke;
}

.boxed-group-inner.spaced {
  padding: 15px;
}


.button {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  text-decoration: none;
}
.button.primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  text-decoration: none;
}
.button.primary:hover {
  background-image: none;
}

.button.danger, .minibutton.danger {
  color: #900;
}
.button.danger:hover {
  color: #fff;
  background-color: #900;
}

.minibutton {
  padding: 0 10px;
  line-height: 24px;
}

span.user-classifier {
  font-size: 12px;
  background-color: $default_blue;
  color: white;
  border-radius: 2px;
  vertical-align: middle;
}

span.user-classifier.user-me {
  background-color: #5ca941;
}

// login page

body.login-body {
  background-color: #7b8c93;
}

div.login-page {
  background: url(image_path('login_screen.jpg')) no-repeat center center ;
  background-size: contain;
  width: 100%;
  height: 100%;
}


.login-form-container {
//  left: 50%;
//  margin-left: -400px;
  position: absolute;
  top: 20px;
  left: 20px;
//  width: 800px;
  box-sizing: border-box;
//  overflow: hidden;
  display: block;
}

.login-form-header {
  margin-bottom: 14px;

  margin: 0;
  padding: 0;

  border: 0;
  font: inherit;
  vertical-align: baseline;
//  font: 48px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
//  color: #666;
}

.login-form-header h1 {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  line-height: 24px;
  margin: auto;

  float: none;
  width: 232px;
  height: 50px;
}

.login-form-header h2 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: auto;

  float: none;
  width: 232px;
  height: 50px;
}

.login-form-header h3 {
  color: #555;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: auto;

  float: none;
  width: 232px;
  height: 50px;
}

.login-field {
  margin: auto;
  padding: 0;
  position: relative;
  border-top: 1px solid #e3e3e3;
  font: inherit;
  vertical-align: baseline;
  width: 260px;

  background: #fff;
  z-index: 2;
}

.login-field:first-child {
  border-top: 0;
}

input.login-input {
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  margin: 0;
  border: 0;
  font: 16px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;

  box-sizing: border-box;
}
input.login-input:focus {
  border: none;
  outline-width: 0;
}
.login-button {
  color: white;
  background-color: #529ecc;
  font-size: 16px;
  cursor: pointer;

  height: 45px;
  width: 260px;
  border: 0px;
}

.submit-holder {
  margin-top: 14px;
  border-top: 0px;
}

.placeholder {
  height: 20px;
}

.register-link-holder {
  padding-top: 20px;
}

a.register-link {
  color: #fff;
  background-color: #7b8c93;
  text-decoration: none;
}
a.register-link:visited {
  color: #fff;
}
a.register-link:hover {
  color: #529ecc;
  background-color: #7b8c93;
}
