.topBanner {
  height: 60px;
}

.mainContainer {
  margin-left: 220px;
  margin-top: 60px;
  margin-right: 80px;
  z-index: 3;
}

.mainContent {
  position: relative;
  z-index: 3;
  padding-left: 36px;
  padding-top: 20px;
}