<div id="infoPopup" class="dataCaptured hidden">
  <div class="inner">
    <center>
      <i class="fa fa-check-circle-o fa-5x info-icon"></i>
    </center>
    <div class="popupTitle"><%=(t :done)%></div>
    <div class="popupText">
      <span class="msg"></span>
      <span class="calMsg" style="color: red;"></span>
    </div>
  </div>
  <div class="bottom">
    <center>
      <button id="infoOkButton" class="infoButton">OK</button>
    </center>
  </div>
</div>

<div id="errorPopup" class="dataCaptured hidden">
  <div class="inner">
    <center>
      <i class="fa fa-times-circle-o fa-5x error-icon"></i>
    </center>
    <div class="popupTitle"><%=(t :failed)%></div>
    <div class="popupText">
      <span class="msg"></span>
    </div>
  </div>
  <div class="bottom">
    <center>
      <button id="errorOkButton" class="infoButton">OK</button>
    </center>
  </div>
</div>
