<div class="mainContent">
  <div class="columns" style="width: 75%;">
    <style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=wAPX1HepqA24RkYW1AuHYA');

    .lst-kix_list_2-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_2-7 > li:before {
        content: "o  "
    }

    ul.lst-kix_list_1-0 {
        list-style-type: none
    }

    .lst-kix_list_2-4 > li:before {
        content: "o  "
    }

    .lst-kix_list_2-5 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_list_2-8 > li:before {
        content: "\0025aa  "
    }

    ul.lst-kix_list_2-8 {
        list-style-type: none
    }

    ul.lst-kix_list_1-3 {
        list-style-type: none
    }

    ul.lst-kix_list_2-2 {
        list-style-type: none
    }

    .lst-kix_list_1-0 > li:before {
        content: "\002212  "
    }

    ul.lst-kix_list_1-4 {
        list-style-type: none
    }

    ul.lst-kix_list_2-3 {
        list-style-type: none
    }

    ul.lst-kix_list_1-1 {
        list-style-type: none
    }

    ul.lst-kix_list_2-0 {
        list-style-type: none
    }

    ul.lst-kix_list_1-2 {
        list-style-type: none
    }

    ul.lst-kix_list_2-1 {
        list-style-type: none
    }

    ul.lst-kix_list_1-7 {
        list-style-type: none
    }

    ul.lst-kix_list_2-6 {
        list-style-type: none
    }

    .lst-kix_list_1-1 > li:before {
        content: "o  "
    }

    .lst-kix_list_1-2 > li:before {
        content: "\0025aa  "
    }

    ul.lst-kix_list_1-8 {
        list-style-type: none
    }

    ul.lst-kix_list_2-7 {
        list-style-type: none
    }

    ul.lst-kix_list_1-5 {
        list-style-type: none
    }

    ul.lst-kix_list_2-4 {
        list-style-type: none
    }

    ul.lst-kix_list_1-6 {
        list-style-type: none
    }

    ul.lst-kix_list_2-5 {
        list-style-type: none
    }

    .lst-kix_list_1-3 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_1-4 > li:before {
        content: "o  "
    }

    .lst-kix_list_1-7 > li:before {
        content: "o  "
    }

    .lst-kix_list_1-5 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_list_1-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_2-0 > li:before {
        content: "\002212  "
    }

    .lst-kix_list_2-1 > li:before {
        content: "o  "
    }

    .lst-kix_list_1-8 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_list_2-2 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_list_2-3 > li:before {
        content: "\0025cf  "
    }

    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .ec0 {
        margin-left: 36pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        orphans: 2;
        widows: 2
    }

    .ec6 {
        margin-left: 36pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 10pt;
        line-height: 1.1500000000000001
    }

    .ec1 {
        font-size: 11pt;
        font-family: "Calibri";
        font-weight: normal
    }

    .ec7 {
        background-color: #ffffff;
        max-width: 453.6pt;
        padding: 70.8pt 70.8pt 70.8pt 70.8pt
    }

    .ec2 {
        orphans: 2;
        widows: 2
    }

    .ec9 {
        color: #0000ff;
        text-decoration: underline
    }

    .ec8 {
        padding: 0;
        margin: 0
    }

    .ec5 {
        color: inherit;
        text-decoration: inherit
    }

    .ec3 {
        font-style: italic
    }

    .ec4 {
        height: 11pt
    }

    .title {
        padding-top: 24pt;
        color: #000000;
        font-weight: bold;
        font-size: 36pt;
        padding-bottom: 6pt;
        font-family: "Calibri";
        line-height: 1.1500000000000001;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 18pt;
        color: #666666;
        font-size: 24pt;
        padding-bottom: 4pt;
        font-family: "Georgia";
        line-height: 1.1500000000000001;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Calibri"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Calibri"
    }

    h1 {
        padding-top: 24pt;
        color: #000000;
        font-weight: bold;
        font-size: 24pt;
        padding-bottom: 6pt;
        font-family: "Calibri";
        line-height: 1.1500000000000001;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-weight: bold;
        font-size: 18pt;
        padding-bottom: 4pt;
        font-family: "Calibri";
        line-height: 1.1500000000000001;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 14pt;
        color: #000000;
        font-weight: bold;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Calibri";
        line-height: 1.1500000000000001;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 12pt;
        color: #000000;
        font-weight: bold;
        font-size: 12pt;
        padding-bottom: 2pt;
        font-family: "Calibri";
        line-height: 1.1500000000000001;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 11pt;
        color: #000000;
        font-weight: bold;
        font-size: 11pt;
        padding-bottom: 2pt;
        font-family: "Calibri";
        line-height: 1.1500000000000001;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 10pt;
        color: #000000;
        font-weight: bold;
        font-size: 10pt;
        padding-bottom: 2pt;
        font-family: "Calibri";
        line-height: 1.1500000000000001;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }</style>
    <p class="ec2">
      <span>FELHASZN&Aacute;L&Aacute;SI &Eacute;S ADATKEZEL&Eacute;SI T&Aacute;J&Eacute;KOZTAT&Oacute;</span></p>

    <p class="ec2 ec4"><span></span></p>

    <p class="ec2">
      <span>Az alkalmaz&aacute;sban &eacute;s/vagy a weboldalon val&oacute; regisztr&aacute;ci&oacute;val &Ouml;n kifejezetten hozz&aacute;j&aacute;rul &eacute;s beleegyez&eacute;s&eacute;t adja ahhoz, hogy felhaszn&aacute;l&oacute;nev&eacute;vel &eacute;s e-mail c&iacute;m&eacute;vel rendszer&uuml;nkben regisztr&aacute;ljuk. Egy felhaszn&aacute;l&oacute;n&eacute;vvel &Ouml;n k&eacute;t felhaszn&aacute;l&oacute;i jogosults&aacute;g k&ouml;z&uuml;l v&aacute;laszthat: Beteg vagy Orvos. A regisztr&aacute;ci&oacute;
        eredm&eacute;nyek&eacute;ppen &Ouml;n jogosultt&aacute; v&aacute;lik az alkalmaz&aacute;s &eacute;s/vagy szoftver funkci&oacute;inak haszn&aacute;lat&aacute;ra, vagyis:</span>
    </p>

    <p class="ec2"><span>Ha &Ouml;n Beteg:</span></p>
    <ul class="ec8 lst-kix_list_1-0 start">
      <li class="ec0">
        <span class="ec1">&nbsp;okoseszk&ouml;z&ouml;kkel val&oacute; szinkroniz&aacute;ci&oacute; r&eacute;v&eacute;n vagy manu&aacute;lis bevitellel eg&eacute;szs&eacute;g&eacute;vel &eacute;s/vagy betegs&eacute;g&eacute;vel kapcsolatos adatokat r&ouml;gz&iacute;thet saj&aacute;t felhaszn&aacute;l&oacute;i fi&oacute;kj&aacute;ban</span>
      </li>
      <li class="ec0">
        <span class="ec1">r&ouml;gz&iacute;tett adatait b&aacute;rmikor megtekintheti, b&ouml;ng&eacute;szheti, let&ouml;ltheti, megoszthatja orvos&aacute;val</span>
      </li>
      <li class="ec0">
        <span class="ec1">eml&eacute;keztet&#337;ket &aacute;ll&iacute;that be, orvosa eml&eacute;keztet&#337; &uuml;zeneteket k&uuml;ldhet &Ouml;nnek</span>
      </li>
      <li class="ec2 ec6">
        <span class="ec1">mentett adatair&oacute;l statisztikai kimutat&aacute;sokat tekinthet meg.</span></li>
    </ul>
    <p class="ec2"><span>Ha &Ouml;n Orvos:</span></p>
    <ul class="ec8 lst-kix_list_2-0 start">
      <li class="ec0">
        <span class="ec1">Betegeket regisztr&aacute;lhat felhaszn&aacute;l&oacute;i fi&oacute;kj&aacute;ban</span></li>
      <li class="ec0">
        <span class="ec1">a regisztr&aacute;lt Betegek adatait aggreg&aacute;lt form&aacute;ban megtekintheti, statisztikai kimutat&aacute;sokat v&eacute;gezhet</span>
      </li>
      <li class="ec6 ec2"><span class="ec1">eml&eacute;keztet&#337;ket fogadhat/k&uuml;ldhet Betegeinek.</span></li>
    </ul>
    <p class="ec2">
      <span>Az alkalmaz&aacute;s &eacute;s/vagy a weboldal haszn&aacute;lat&aacute;hoz az e-mail c&iacute;m megad&aacute;s&aacute;n k&iacute;v&uuml;l m&aacute;s, azonos&iacute;t&aacute;sra alkalmas adat szolg&aacute;ltat&aacute;sa nem sz&uuml;ks&eacute;ges, egy&eacute;b szem&eacute;lyes adatot a regisztr&aacute;ci&oacute;val kapcsolatban nem ig&eacute;nyel a rendszer. A megadott e-mail c&iacute;m fentiekben meghat&aacute;rozott c&eacute;lra val&oacute;
        haszn&aacute;lhat&oacute;s&aacute;g&aacute;&eacute;rt kiz&aacute;r&oacute;lag az azt megad&oacute; felel.</span>
    </p>

    <p class="ec2">
      <span>Az &Ouml;n regisztr&aacute;ci&oacute;ja csak az al&aacute;bbi adatkezel&eacute;si t&aacute;j&eacute;koztat&oacute;
        elolvas&aacute;sa &eacute;s az abban foglaltak elfogad&aacute;sa eset&eacute;n &eacute;rv&eacute;nyes.</span>
    </p>

    <p class="ec2 ec4"><span></span></p>

    <p class="ec2"><span>ADATKEZEL&Eacute;SI T&Aacute;J&Eacute;KOZTAT&Oacute;</span></p>

    <p class="ec2">
      <span>Az alkalmaz&aacute;s &eacute;s weboldal &Uuml;zemeltet&#337;je &eacute;s az Adatkezel&#337; c&iacute;me: Larkbio Kft., 4029 Debrecen, Cegl&eacute;d u. 22/A. </span>
    </p>

    <p class="ec2">
      <span>Az Adatkezel&#337; Adatfeldolgoz&oacute;t nem vesz ig&eacute;nybe, a szoftver az Adatkezel&#337; szerverein ker&uuml;lt elhelyez&eacute;sre. Az adatkezel&eacute;s helye: Magyarorsz&aacute;g.</span>
    </p>

    <p class="ec2"><span>Az adatkezel&eacute;si t&aacute;j&eacute;koztat&oacute; c&eacute;lja, hogy &ouml;sszhangban az 1992. &eacute;vi LXIII. t&ouml;rv&eacute;nnyel a szem&eacute;lyes adatok v&eacute;delm&eacute;r&#337;l &eacute;s a k&ouml;z&eacute;rdek&#369; adatok nyilv&aacute;noss&aacute;g&aacute;r&oacute;l; az 1997. &eacute;vi XLVII. t&ouml;rv&eacute;nnyel az eg&eacute;szs&eacute;g&uuml;gyi &eacute;s a hozz&aacute;juk kapcsol&oacute;d&oacute;
      szem&eacute;lyes adatok kezel&eacute;s&eacute;r&#337;l &eacute;s v&eacute;delm&eacute;r&#337;l; valamint a 2011. &eacute;vi CXII. t&ouml;rv&eacute;nnyel az inform&aacute;ci&oacute;s &ouml;nrendelkez&eacute;si jogr&oacute;l &eacute;s az inform&aacute;ci&oacute;szabads&aacute;gr&oacute;l a Felhaszn&aacute;l&oacute;
      szem&eacute;lyes adatait a fentieknek megfelel&#337; t&aacute;j&eacute;koztat&aacute;s alapj&aacute;n adja meg, azaz tiszt&aacute;ban van az adatkezel&eacute;s jogalapj&aacute;val, c&eacute;lj&aacute;val, annak idej&eacute;vel, az adatkezel&eacute;ssel kapcsolatos jogaival &eacute;s jogorvoslati lehet&#337;s&eacute;geivel.</span>
    </p>

    <p class="ec2"><span>Az alkalmaz&aacute;sban &eacute;s/vagy weboldalon ny&uacute;jtott &eacute;s a fentiekben meghat&aacute;rozott szolg&aacute;ltat&aacute;s ig&eacute;nybe v&eacute;tel&eacute;hez sz&uuml;ks&eacute;ges, hogy a Felhaszn&aacute;l&oacute;
      megadja szem&eacute;lyes adat&aacute;t (e-mail c&iacute;m).</span></p>

    <p class="ec2">
      <span>A szem&eacute;lyes adatoknak a honlap &aacute;ltal ny&uacute;jtott szolg&aacute;ltat&aacute;sok haszn&aacute;lat&aacute;hoz sz&uuml;ks&eacute;ges, meghat&aacute;rozott c&eacute;lra val&oacute;
        falhaszn&aacute;l&aacute;s&aacute;nak, azaz a megadott szem&eacute;lyes adatok kezel&eacute;s&eacute;nek jogalapja az Infotv. 5.&sect;
        (1) bek. a) pontja szerint az &eacute;rintett &ouml;nk&eacute;ntes hozz&aacute;j&aacute;rul&aacute;sa.</span>
    </p>

    <p class="ec2">
      <span>A hozz&aacute;j&aacute;rul&aacute;st a Felhaszn&aacute;l&oacute; a szolg&aacute;ltat&aacute;s ny&uacute;jt&aacute;s&aacute;hoz sz&uuml;ks&eacute;ges szem&eacute;lyes adatai &ouml;nk&eacute;ntes megad&aacute;s&aacute;val &eacute;s az adatkezel&eacute;si t&aacute;j&eacute;koztat&oacute;ban foglaltak elfogad&aacute;s&aacute;val adja meg.</span>
    </p>

    <p class="ec2">
      <span>Az Adatkezel&#337; az &aacute;ltala kezelt szem&eacute;lyes adatokat az itt meghat&aacute;rozott c&eacute;lokt&oacute;l elt&eacute;r&#337; c&eacute;lokra nem haszn&aacute;lja, illetve haszn&aacute;lhatja fel. Szem&eacute;lyes adatok harmadik szem&eacute;ly vagy hat&oacute;s&aacute;gok sz&aacute;m&aacute;ra - kiv&eacute;ve, ha t&ouml;rv&eacute;ny ezt k&ouml;telez&#337;v&eacute;
        teszi - csak a Felhaszn&aacute;l&oacute; el&#337;zetes, kifejezett hozz&aacute;j&aacute;rul&aacute;sa eset&eacute;n lehets&eacute;ges.</span>
    </p>

    <p class="ec2">
      <span>A Felhaszn&aacute;l&oacute; szem&eacute;lyes e-mail c&iacute;m&eacute;nek kezel&eacute;s&eacute;nek c&eacute;lja a regisztr&aacute;ci&oacute;
        kapcs&aacute;n k&uuml;ld&ouml;tt visszajelz&#337; &uuml;zenet k&uuml;ld&eacute;se, a k&eacute;s&#337;bbiekben pedig a Felhaszn&aacute;l&oacute;val t&ouml;rt&eacute;n&#337; kapcsolattart&aacute;s. A Felhaszn&aacute;l&oacute; &aacute;ltal megadott szem&eacute;lyes adatokat Adatkezel&#337; m&aacute;s c&eacute;lra &ndash;
        k&uuml;l&ouml;n&ouml;sen rekl&aacute;mtartalm&uacute; &uuml;zenetk&uuml;ld&eacute;sre - nem haszn&aacute;lja fel.</span>
    </p>

    <p class="ec2">
      <span>Adatkezel&#337; a megadott szem&eacute;lyes adatot az alkalmaz&aacute;s haszn&aacute;lat&aacute;nak ideje alatt kezeli. Felhaszn&aacute;l&oacute;
        az </span><span class="ec3">info@larkbio.com</span><span>&nbsp;e-mail c&iacute;mre k&uuml;ld&ouml;tt lev&eacute;llel b&aacute;rmikor visszavonhatja regisztr&aacute;ci&oacute;j&aacute;t &eacute;s hozz&aacute;j&aacute;rul&aacute;s&aacute;t arra vonatkoz&oacute;an, hogy &eacute;rtes&iacute;t&eacute;st, vagy tov&aacute;bbi t&aacute;j&eacute;koztat&aacute;st kapjon. A regisztr&aacute;ci&oacute;
      visszavon&aacute;s&aacute;ra vonatkoz&oacute; k&eacute;relem elk&uuml;ld&eacute;s&eacute;t - Adatkezel&#337;h&ouml;z t&ouml;rt&eacute;n&#337; be&eacute;rkez&eacute;s&eacute;t - k&ouml;vet&#337;en Adatkezel&#337; a Felhaszn&aacute;l&oacute;t &eacute;s minden nem&#369; adat&aacute;t azonnal t&ouml;rli a rendszerb&#337;l. </span>
    </p>

    <p class="ec2">
      <span>A Felhaszn&aacute;l&oacute; az Adatkezel&#337;t&#337;l b&aacute;rmikor k&eacute;rheti szem&eacute;lyes adatainak helyesb&iacute;t&eacute;s&eacute;t, illetve &ndash;
        a k&ouml;telez&#337; adatkezel&eacute;sek kiv&eacute;tel&eacute;vel&ndash; t&ouml;rl&eacute;s&eacute;t vagy z&aacute;rol&aacute;s&aacute;t.</span>
    </p>

    <p class="ec2">
      <span>Az adatokat els&#337;dlegesen Adatkezel&#337; illetve Adatkezel&#337; bels&#337; munkat&aacute;rsai jogosultak megismerni, azokat nem teszik k&ouml;zz&eacute;, harmadik szem&eacute;ly(ek) r&eacute;sz&eacute;re nem adj&aacute;k, nem adhatj&aacute;k &aacute;t. </span>
    </p>

    <p class="ec2">
      <span>A Felhaszn&aacute;l&oacute; k&eacute;relm&eacute;re az Adatkezel&#337; t&aacute;j&eacute;koztat&aacute;st ad az &aacute;ltala kezelt adatair&oacute;l, azok forr&aacute;s&aacute;r&oacute;l, az adatkezel&eacute;s c&eacute;lj&aacute;r&oacute;l, jogalapj&aacute;r&oacute;l, id&#337;tartam&aacute;r&oacute;l, az adatkezel&eacute;ssel &ouml;sszef&uuml;gg&#337; tev&eacute;kenys&eacute;gekr&#337;l, tov&aacute;bb&aacute;
        adattov&aacute;bb&iacute;t&aacute;s eset&eacute;n annak jogalapj&aacute;r&oacute;l &eacute;s c&iacute;mzettj&eacute;r&#337;l. Az Adatkezel&#337; a k&eacute;relem beny&uacute;jt&aacute;s&aacute;t&oacute;l sz&aacute;m&iacute;tott legr&ouml;videbb id&#337; alatt, legfeljebb azonban 30 napon bel&uuml;l &iacute;r&aacute;sban, k&ouml;z&eacute;rthet&#337; form&aacute;ban adja meg a t&aacute;j&eacute;koztat&aacute;st. E t&aacute;j&eacute;koztat&aacute;s ingyenes, ha a t&aacute;j&eacute;koztat&aacute;st k&eacute;r&#337; a foly&oacute; &eacute;vben azonos adatk&ouml;rre vonatkoz&oacute;
        t&aacute;j&eacute;koztat&aacute;si k&eacute;relmet az Adatkezel&#337;h&ouml;z m&eacute;g nem ny&uacute;jtott be.</span>
    </p>

    <p class="ec2">
      <span>Ha ezen Adatkezel&eacute;si t&aacute;j&eacute;koztat&oacute;ban elfogadottakon t&uacute;lmen&#337; v&aacute;ltoz&aacute;s &aacute;llna be, Adatkezel&#337; a Felhaszn&aacute;l&oacute;t e-mailben illetve a weboldalon kereszt&uuml;l is &eacute;rtes&iacute;ti.</span>
    </p>

    <p class="ec2">
      <span>A Felhaszn&aacute;l&oacute; az Infotv. 21. &sect;-&aacute;ban meghat&aacute;rozott esetekben tiltakozhat szem&eacute;lyes adat&aacute;nak kezel&eacute;se ellen. Adatkezel&#337; a tiltakoz&aacute;st a k&eacute;relem beny&uacute;jt&aacute;s&aacute;t&oacute;l sz&aacute;m&iacute;tott legr&ouml;videbb id&#337;n bel&uuml;l, de legfeljebb 15 napon bel&uuml;l megvizsg&aacute;lja, annak megalapozotts&aacute;ga k&eacute;rd&eacute;s&eacute;ben d&ouml;nt&eacute;st hoz, &eacute;s d&ouml;nt&eacute;s&eacute;r&#337;l az Felhaszn&aacute;l&oacute;
        k&eacute;relmez&#337;t &iacute;r&aacute;sban t&aacute;j&eacute;koztatja.</span></p>

    <p class="ec2"><span>A Felhaszn&aacute;l&oacute; az Infotv., valamint a Polg&aacute;ri T&ouml;rv&eacute;nyk&ouml;nyv (2013. &eacute;vi V. t&ouml;rv&eacute;ny) alapj&aacute;n a Nemzeti Adatv&eacute;delmi &eacute;s Inform&aacute;ci&oacute;szabads&aacute;g Hat&oacute;s&aacute;ghoz fordulhat, vagy B&iacute;r&oacute;s&aacute;g el&#337;tt &eacute;rv&eacute;nyes&iacute;theti jogait.</span>
    </p>

    <p class="ec2">
      <span>N&eacute;v: Nemzeti Adatv&eacute;delmi &eacute;s Inform&aacute;ci&oacute;szabads&aacute;g Hat&oacute;s&aacute;g</span>
    </p>

    <p class="ec2">
      <span>A hat&oacute;s&aacute;g sz&eacute;khelye: 1125 Budapest, Szil&aacute;gyi Erzs&eacute;bet fasor 22/C.</span>
    </p>

    <p class="ec2"><span>Levelez&eacute;si c&iacute;m: 1534 Budapest, Pf.: 834.</span></p>

    <p class="ec2"><span>Telefon: 06 1 391-1400</span></p>

    <p class="ec2"><span>Fax: 06 1 391-1410</span></p>

    <p class="ec2"><span>E-mail: ugyfelszolgalat@naih.hu</span></p>

    <p class="ec2">
      <span>Honlap: </span><span class="ec9"><a class="ec5" href="https://www.google.com/url?q=http://www.naih.hu&amp;sa=D&amp;ust=1463577970160000&amp;usg=AFQjCNE9UV9kBbynGgZXCxQDeg4mcprIbw">http://www.naih.hu</a></span><span>&nbsp;</span>
    </p>
  </div>
</div>