// Place all the styles related to the AnalysisData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common/config";

.timeLines {
  stroke-width: 6px;
}
.timeLines.exercise {
  stroke: $exercise_color;
}
.timeLines.diet {
  stroke: $diet_color;
}
.timeLines.measurement {
  stroke: $measurement_color;
}
.timeLines.wellbeing {
  stroke: $wellbeing_color;
}


.timePoints.exercise {
  fill: $exercise_color;
}
.timePoints.diet {
  fill: $diet_color;
}
.timePoints.measurement {
  fill: $measurement_color;
}
.timePoints.wellbeing {
  fill: $wellbeing_color;
}

.timePointsInner {
  fill: white;
}

.grayline {
  stroke: #bfbfbf;
}
.bg1Point {
  fill: #f8756d;
}
.bg2Point {
  fill: #7cae00
}
.bg3Point {
  fill: #c77cff
}
.bg4Point {
  fill: #00bfc4
}

.selA {
  fill: $exercise_color;
  opacity: 0.15;
}

.selB {
  fill: $diet_color;
  opacity: 0.15;
}

.add-analysis {
  color: #db4437;
  cursor: pointer;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.box .axis {
  font: 12px sans-serif;
}

.box .axis path,
.box .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.box .x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
