// Place all the styles related to the AnalysisData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common/config";

.timeLines {
  stroke-width: 6px;
}
.timeLines.exercise {
  stroke: $exercise_color;
}
.timeLines.diet {
  stroke: $diet_color;
}
.timeLines.health {
  stroke: $measurement_color;
}
.timeLines.wellbeing {
  stroke: $wellbeing_color;
}
.timeLines.lifestyle {
  stroke: $wellbeing_color;
}

.timePoints.exercise {
  fill: $exercise_color;
}
.timePoints.diet {
  fill: $diet_color;
}
.timePoints.health {
  fill: $measurement_color;
}
.timePoints.wellbeing {
  fill: $wellbeing_color;
}
.timePoints.lifestyle {
  fill: $wellbeing_color;
}
.timePointsInner {
  fill: white;
}

.grayLine {
  stroke: #bfbfbf;
}
.col1Point {
  fill: #f8756d;
}
.col2Point {
  fill: #7cae00
}
.col3Point {
  fill: #c77cff
}
.col4Point {
  fill: #00bfc4
}

.col1Line {
  stroke: #f8756d;
}
.col2Line {
  stroke: #7cae00
}
.col3Line {
  stroke: #c77cff
}
.col4Line {
  stroke: #00bfc4
}


.col1Text {
  background-color: #f8756d;
  color: white;
}
.col2Text {
  background-color: #7cae00;
  color: white;
}
.col3Text {
  background-color: #c77cff;
  color: white;
}
.col4Text {
  background-color: #00bfc4;
  color: white;
}

.selA {
  fill: $exercise_color;
  opacity: 0.15;
}

.selB {
  fill: $diet_color;
  opacity: 0.15;
}

.add-analysis {
  color: #db4437;
  cursor: pointer;
}

.box {
  font: 10px sans-serif;
}

.boxA line,
.boxA rect,
.boxA circle {
  fill: $exercise_color;
  stroke: #000;
  stroke-width: 1px;
}

.boxB line,
.boxB rect,
.boxB circle {
  fill: $diet_color;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.box .axis {
  font: 12px sans-serif;
}

.box .axis path,
.box .axis line {
  fill: none;
  stroke: #c0c0c0;
  shape-rendering: crispEdges;
}

.pplineA {
  stroke-width: 1px;
  stroke: $exercise_color;
  opacity: 0.7;
}

.pplineB {
  stroke-width: 1px;
  stroke: $diet_color;
  opacity: 0.7;
}

.statButton {
  float: none !important;
  margin-left: 0px !important;
}