.page-control {
  cursor: pointer;
}
.table-toolbar {
  color: #666;
  margin-bottom: 4px;
}
dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  //width: 600px;
  position: relative;
  margin: 5% 25%;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
//  background: -moz-linear-gradient(#fff, #999);
//  background: -webkit-linear-gradient(#fff, #999);
//  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.p10 {
  padding: 10px;
}

.pl10 {
  padding-left: 10px;
}
.pb2 {
  padding-bottom: 2px;
}
.headerControlIcon {
  font-size: 0.9em;
}

.headerItemAvatar {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding-left: 5px;
}
.headerItemIcon {
  float: right;
  width: 20px;
  padding-top: 15px;
  margin-left: 5px;
}

.headerItemIconMod {
  color: gray;
}
.headerItemRight {
  float: right;
  width: 30px;
  text-align: center;
}

.langSwitcherTop {
  float: right;
  height: 50px;
  line-height: 50px;
  color: black;
  cursor: pointer;
  padding-left: 5px
}

.headerItemName {
  float: right;
  background-color: #FDAE61;
  padding: 3px 4px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 2px;
  color: #fff;
  margin-top: 10px;
}

.imgContainer {
  display: table;
}

a.titleIcon {
  text-decoration: none;
  padding-top: 10px;
}

.topBannerRight {
  float: right;
}