.connIcon {
  width: 30px;
  height: 30px;
}

td.syncConn button {
  margin-top: 6px;
}

td.deleteConn button {
  margin-top: 6px;
}

.tag.steps { background-color: #f46d43 };
.tag.sleep { background-color: #fdae61 };

.historyTable button.addConnButton {
  margin-top: 3px;
  color: green;
}

.addConnItem {
  padding-top: 6px;
  padding-bottom: 0;
}

.red {
  color: red;
}

.addDeviceButton {
  background: #57C88A !important;
  border-color: #57C88A !important;
  margin-top: 0 !important;
}

.connectionsSelect {
  border-color: #57C88A !important;
}

button.trashConn {
  cursor: pointer;
}
button.syncConnButton {
  cursor: pointer;
}

.connectionsFormField {
  border: solid 1px #2ca25f !important;
  width: 270px !important;
  background-color: white !important;
}
.connectionsColor {
  color: #2ca25f
}
.connectionsLogo {
  background: image-url("menu/trackerColor.png") no-repeat 10px 10px;
  background-size: 40px 40px;
}

.connectionSelectText {
  max-width: 70px;
  word-wrap: break-word;
}

#statConnectionModal i {
  cursor: pointer;
}

i.green {
  color: green;
}

#connectionIcons li {
  cursor: pointer;
}
#connectionIcons li:hover {
  background-color: lightgoldenrodyellow;
}