// Place all the styles related to the CustomForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listIcon {
  width: 32px;
  height: 32px;
}
.listContent {
  color: black;
}
.listDeleteIcon {
  color: red;
  padding-top: 8px;
  cursor: pointer;
}

.iconselectHeader {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 16px;
}

.customFormField {
  border: solid 1px #8980CA !important;
  width: 270px !important;
  background-color: white !important;
}
.customItemIcon {
  width: 40px;
  height: 40px;
}

.cfButton {
  margin: 10px;
}
.add-custom-form {
  color: #db4437;
  //background: #F2F3F8;
  cursor: pointer;
}

.customStyle:after {
  float: none !important;
  margin-left: 0px !important;
}

.customFormSelectText {
  max-width: 45px;
  word-wrap: break-word;
}

.img-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 310px;
}

.img-list.cfSelect {
  width: 800px;
}

.img-list>li {
  float: left;
  width: 38px;

}
#customFormSelect .img-list>li {
  width: 45px;

}
.img-list>li>span {
  box-sizing: border-box;
  border: 0px solid transparent;
  //border-radius: 40px;
  cursor: pointer;
  display: block;
  height: 30px;
  width: 38px;
  margin: 4px 4px;
  //background-color: gray;
  //transition: border-color 150ms ease-in-out;
}

.img-list>li:hover {
  background-color: #005599;
}

.customiconselected {
  background-color: #005599;
}

#iconform {
  width: 250px;
}

.backbtn {
  color: #8980CA;
}
.cf:after {
  clear: both;
  content: '';
  display: table;
}

.customStyle .dataFormField {
  border: solid 1px grey !important;
  width: 260px;
};
.customStyle button {
  background: #8980CA !important;
  margin-top: 10px;
};
.customStyle .custom_textarea {
  height: 100px;
}

#openModalAddCustomForm div.dialogFormContainer {
  //width: 450px;
  //height: 260px;
}

#openModalAddCustomFormElement div.dialogFormContainer {
  width: 450px;
  height: 100%;
}

.customStyle div.dataFormSeparator {
  height: 365px !important;
}
.customStyle .dataForm {
  height: 0;
}
//.customStyle .dataFormTitle {
//  text-align: left;
//  text-transform: uppercase;
//  height: 50px;
//}
.customStyle .dataFormRemark {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #777;
  //font-size: 10px;
  font-size: 1rem;
  line-height: 140%;
  margin: 10px 0 15px 20px;
  width: 300px;
}

.customStyle .titleSub {
  font-family: "Gotham SSm 4r","Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 0 10px 20px;
  text-transform: uppercase;
  color: #000;
}

#notificationContainer {
  padding-right: 30px;
}
.customStyle .formFail {
  border-color: red !important;
}
.formFailSign {
  color: red;
  margin-top: 4px;
  margin-left: 4px;
}

#iconselect {
  padding-left: 34px;
}

i.delete-form, i.add-form-element {
  cursor: pointer;
}

.modalTitle {
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
//--------------------------------

@media(min-width: 10025px) {
  .add-custom-form {
    width: 278px;
    margin: 0;
  }

  .form_warning {
    color: #999;
    font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 14px;
    padding-right: 24px;
    position: relative;
    text-transform: uppercase;
    top: -28px;
    margin: 0 auto;
    width: 278px;
  }

  .form_title{
    color: #000;
    font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    font-size: 1.8rem;
    margin: 0 auto 18px;
    width: 278px;
  }

  .form_div {

  }

  .form_input-tight {
    padding-bottom: 15px;
  }

  .form_disclaimer {
      font-family: Arial, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #777;
      font-size: 10px;
      font-size: 1rem;
      line-height: 140%;
      margin: 10px 0 15px;
  }

  .input-wrap {
    position: relative;
    background: #FFF;
  }
}


//.label {
//  color: #333;
//  display: block;
//  font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
//  font-weight: 500;
//  font-style: normal;
//  font-size: 12px;
//  font-size: 1.2rem;
//  line-height: 21px;
//}
//
//.btn {
//  cursor: pointer;
//  display: block;
//  font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
//  font-weight: 700;
//  font-style: normal;
//  -webkit-font-smoothing: antialiased;
//  text-align: center;
//  text-decoration: none;
//  text-transform: uppercase;
//}


ul.ui-autocomplete {
  z-index: 9999;
}
//
//.xdsoft_datetimepicker {
//  zIndex: 999999 !important;
//}