body.nobgAnimation {
    /*  background: #9DCFFE; */
    background: #F2F3F8;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.bgAnimation {

}

.topBanner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: #ffffff; /*rgba(255, 255, 255, 0.3);*/

  z-index: 90;
}

.topBannerBg {

  background: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;

  z-index: 80;
}

.topBanner .left {
    padding-left: 20px;
    float: left;
    height: 60px;
    padding-top: 0px;
    padding-bottom: 10px;

}

.topBanner .logoTitle {
  padding-left: 20px;
  float: left;
  height: 60px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.topBanner .logoTitle {
  color: #3d3d3d;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 60px;
}

.topBanner .right {
  padding-right: 20px;
  float: right;
  height: 60px;
  padding-top: 10px;
}

.dashboardButton {
    width: 160px;
    height: 160px;
    padding: 0;
    float: left;
    margin-right: 10px;
    border-radius: 20px;;
}

.dashboardButton img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 45px;
}

.dashboardButton .dashboardButtonTitle {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.colorButton {
    font-size: 14px;
    border: solid 1px #4FBDF2;
    height: 40px;
    text-align: center;
    background: #4FBDF2;
    color: white;
}

button.dataFormField {
  color: white;
}


.c0 {
  color: #4FBDF2 !important;
}

.c1, .dietColor {
    color: #57C88A !important;
}
.dietStyle .dataFormField {
  border: solid 1px #57C88A !important;
  width: 235px;
};
.dietStyle button {
  background: #57C88A !important;
};
.dietStyle.dataFormContainer {
  width: 320px;
  //height: 305px;
}
.dietStyle.dataFormSeparator {
  height: 310px !important;
}



.c2, .exerciseColor {
    color: #F09938 !important;;
}
.exerciseStyle .dataFormField {
  border: solid 1px #F09938 !important;
  width: 255px;
};

.exerciseStyle button {
  background: #F09938 !important;
};
.exerciseStyle.dataFormContainer {
  width: 345px;
  //height: 350px;
}
.exerciseStyle.dataFormSeparator {
  height: 345px !important;
}



.c3, .healthColor {
    color: #8980CA !important;;
}
.healthStyle .dataFormField {
  border: solid 1px #8980CA !important;
  width: 165px;
};
.healthStyle button {
  background: #8980CA !important;
};
.healthStyle.dataFormContainer {
  width: 258px;
  //height: 370px;
}
.healthStyle.dataFormSeparator {
  height: 365px !important;
}
.healthStyle .dataForm {
  //height: 240px;
}


.c4, .wellbeingColor {
    color: #EA70B5 !important;;
}
.wellbeingStyle .dataFormField {
  border: solid 1px #EA70B5 !important;
  width: 245px;
};
.wellbeingStyle button {
  background: #EA70B5 !important;
};
.wellbeingStyle.dataFormContainer {
  width: 338px;
  //height: 390px;
}

.wellbeingStyle.dataFormSeparator {
  height: 380px !important;
}
.wellbeingStyle .dataForm {
  //height: 240px;
}


.c5, .medicationColor {
    color: #6CC5CC !important;;
}
.medicationStyle .dataFormField {
  border: solid 1px #6CC5CC !important;
  width: 245px;
};
.medicationStyle button {
  background: #6CC5CC !important;
};
.medicationStyle.dataFormContainer {
  width: 345px;
  //height: 305px;
}
.medicationStyle.dataFormSeparator {
  height:295px !important;
}
.medicationStyle .dataForm {
  //height: 150px;
}

.c6, .geneticsColor {
    color: #2BC7EC !important;
}
.geneticsStyle .dataFormField {
  border: solid 1px #2BC7EC !important;
  width: 275px;
}
.geneticsStyle .dataFormArea {
  border: solid 1px #2BC7EC !important;
  width: 270px;
  resize: none;
  margin-left: 20px;
  font-size: 14px;
  border: solid 1px #8980CA;
  background: white;
  margin-bottom: 10px;
  float: left;
}
.geneticsStyle button {
  background: #2BC7EC !important;
}
.geneticsStyle div.dataFormContainer {
  width: 320px;
  //height: 350px;
}
.geneticsStyle div.dataFormSeparator {
  height:325px !important;
}
.geneticsStyle .dataForm {
  height: 195px;
}

.c7, .labresultColor {
  color: #EBAAAB !important;;
}

.labresultStyle .dataFormField {
  border: solid 1px #EBAAAB !important;
  width: 160px;
};
.labresultStyle button {
  background: #EBAAAB !important;
};
.labresultStyle.dataFormContainer {
  width: 240px;
  //height: 315px;
}
.labresultStyle.dataFormSeparator {
  height:310px !important;
}
.labresultStyle .dataForm {
  //height: 185px;
}



.c8, .analyticsColor {
  color: #f46d43 !important;
}

.customColor {
  color: white !important;
}
.customTitleColor {
  color: white !important;
  background-color: #c3d4e2 !important;
  //width: 18%;
}

.custom-block {

}
.forgottenDiv {
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 120px;
    width: 1100px;
    margin-left: -550px;
}


button.deleteForm {
  padding: 3px 4px;
  margin-left: 3px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  border: none;
  border-color: red;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  color: #fff;
  background-color: red;
  vertical-align: middle;
  cursor: pointer;
}


// ----------------------
.app2Menu {
  background: #2D3644;
  position: fixed;
  top: 0px;
  width: 200px;
  height: 100%;
}

.app2Menu .footer{
  position: absolute;
//  margin-left: auto;
//  margin-right: auto;
  width: 200px;
  text-align: center;
  bottom:0;
//  padding: 10px;
  font-size: 11px;
  color: #ffffff;
}

.app2Menu .inner {
  padding-top: 80px;
  //        margin-left: 20px;
  //        margin-right: 20px;
  //  height: 50px;
  //    background: #ffffff;
}

.app2Menu .inner .menuitem {
  border-bottom: solid 2px #2D3644 !important;
  width: 196px;
  height: 50px;
  float: left;
  font-size: 20px;
  border-right-style: solid;
  border-right-width: 4px;
}

.menulink {
  text-decoration: none;
  display: block;
  width: 146px;
  //  height: 20px;
  padding-left: 56px;
  //text-align: center;
  line-height: 50px;
  //  padding-top: 30px;;
  color: #ffffff;
}

.menulink-selected {
  background: RGBA(143, 188, 227, 0.3);
}


.app2Menu .moves {
  background: image-url("menu/moves60.png") no-repeat 5px 5px;
  background-size: 40px 40px;
}

.app2Menu .withings {
  background: image-url("menu/withings60.png") no-repeat 5px 5px;
  background-size: 40px 40px;
}

.app2Menu .fitbit {
  background: image-url("menu/fitbit60.png") no-repeat 5px 5px;
  background-size: 40px 40px;
}

.app2Menu .misfit {
  background: image-url("menu/misfit60.png") no-repeat 5px 5px;
  background-size: 40px 40px;
}

.app2Menu .googlefit {
  background: image-url("menu/googlefit60.png") no-repeat 5px 5px;
  background-size: 40px 40px;
}

.app2Menu .dashboard {
  background: image-url("dashboard.png") no-repeat 5px 5px;
}

.app2Menu .myprofile {
  background: image-url("menu/myprofile60.png") no-repeat 5px 5px;
  background-size: 40px 40px;
}

.app2Menu .admin {
  background: image-url("menu/admin60.png") no-repeat 5px 5px;
  background-size: 40px 40px;
}

.app2Menu .b0 {
  background: image-url("dashboard_c40.png") no-repeat 5px 5px;
//  background-size: 40px 40px;
}

.app2Menu .b1 {
  background: image-url("diet_c40.png") no-repeat 5px 5px;
//  background-size: 40px 40px;
}

.app2Menu .b2 {
  background: image-url("exercise_c40.png") no-repeat 5px 5px;

}

.app2Menu .b3 {
  background: image-url("health_c40.png") no-repeat 5px 5px;

}

.app2Menu .b4 {
  background: image-url("wellbeing_c40.png") no-repeat 5px 5px;
}

.app2Menu .b5 {
  background: image-url("medication_c40.png") no-repeat 5px 5px;
}

.app2Menu .b6 {
  background: image-url("genetics_c40.png") no-repeat 5px 5px;

}

.app2Menu .b7 {
  background: image-url("labResult_c40.png") no-repeat 5px 5px;

}

.app2Menu .b8 {
  background: image-url("analytics60.png") no-repeat 5px 5px;
  background-size: 40px 40px;
}

.app2Menu .customIcon {
  background: image-url("custom/img_myForms.png") no-repeat 5px 5px;
  background-size: 40px 40px;
}
// -----------------------------------------


.menulink.selected {
  background: rgba(137, 130, 200, 0.3);
}
.bl0 {
    background: image-url("dashboard60.png") 10px 10px no-repeat;

}

.bl1, .dietBodyLogo {
    background: image-url("food60.png") 10px 10px no-repeat;
  background-size: 40px 40px;
}


.bl2 {
    background: image-url("exercise60.png") 10px 10px no-repeat;

}

.bl3 {
    background: image-url("health60.png") 10px 10px no-repeat;
    background-size: 40px 40px;

}

.exerciseBodyLogo {
  background: image-url("exercise60.png") 10px 10px no-repeat;
  background-size: 40px 40px;
}

.bl4 {
    background: image-url("medication60.png") 10px 10px no-repeat;
}
.medicationBodyLogo {
  background: image-url("medication60.png") 10px 10px no-repeat;
  background-size: 40px 40px;
}

.bl5 {
    background: image-url("palmtree60.png") 10px 10px no-repeat;
}
.wellbeingBodyLogo {
  background: image-url("palmtree60.png") 10px 10px no-repeat;
  background-size: 40px 40px;
}

.bl6 {
    background: image-url("genetics60.png") 10px 10px no-repeat;
}

.bl7 {
  background: image-url("labResult_c40.png") 10px 10px no-repeat;
}

.geneticsBodyLogo {
  background: image-url("genetics60.png") 10px 10px no-repeat;
  background-size: 40px 40px;
}

.analiticsBodyLogo {
  background: image-url("analytics60.png") 10px 10px no-repeat;
  background-size: 40px 40px;
}

.customBodyLogo {
  background: image-url("custom/img_myForms.png") 10px 10px no-repeat;
  background-size: 40px 40px;
}

.sectionTitle {
    margin-top: 40px;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    height: 60px;
    padding-left: 60px;
    line-height: 60px;
    font-variant: small-caps;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

div.dataFormContainer {
    width: 240px;
    //height: 300px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin : 10 px;*/
    color: #7A7A6F;
    /*border: solid 1px #8980CA;*/
    /*box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 0.2);*/
}
div.dialogFormContainer {
  width: 240px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin : 10 px;*/
  color: #7A7A6F;
  /*border: solid 1px #8980CA;*/
  /*box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 0.2);*/
}

.dataFormSeparator {
    background: #7A7A6F;
    width: 1px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;

}

.dataFormTitle {
    height: 100px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;

}

.dataFormProperty {
  height: 20px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

//.dataForm {
//    height: 160px;
//}

.dataFormButton button {
    border: none;
    background: #8980CA;
    width: 170px;
    margin-left: 20px;
    height: 40px;
    color: white;

}

.dataFormField {
    margin-left: 20px;
    font-size: 14px;
    border: solid 1px #8980CA;
    background: white;
    height: 40px;
    width: 170px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    float: left;

}

.dataFormFieldUnit {
    width: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    float: left;
    padding-left: 15px;
}

.dataFormFieldUnitNarrow {
  width: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  float: left;
  padding-left: 15px;
}

.profileFormFieldUnit {
  width: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  float: right;
  padding-left: 15px;
}

.dataFormFieldUnitHalf {
  width: 50px;
  height: 40px;
  line-height: 20px;
  font-size: 12px;
  float: left;
  padding-left: 15px;
}

.historyTable {
    width: 100%;
    color: #7A7A6F;
}

.historyTable tr {
  vertical-align: top;
}

.historyTable button{
  margin-top: 20px;
}
.historyTable .historyTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.historyTable tr.bg:nth-child(odd) {
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
}

.historyTable tr.bg:nth-child(even) {
    background: rgba(255, 255, 255, 1);
}

.padded {
    padding: 10px;
}



//

input.dataFormField {
  box-sizing: border-box;
}
div.dataFormField {
  box-sizing: border-box;
}


.logoutDiv {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
}

input.logoutButton {
  width: 20px;
  height: 20px;
  padding-top: 15px;
  background: image-url('menu/logout.png');
  background-size: 20px 20px;
  border: none;
  cursor: pointer;
}



div.input-group.date  {
  width: 284px;
  height: 40px;

  margin-left: 20px;
  margin-bottom: 10px;

}


div.input-group.date > input {
  color: #7A7A6F;
}


div.input-group.date input {
  height: 40px;
  border-radius: 0;
}

div.right button {
  vertical-align: bottom;
}

span.hisTitle {
  cursor:pointer
}

span.hisTitle.selected {
  background-color:  rgb(242, 224, 152);
}

span.favTitle {
  cursor:pointer
}

span.favTitle.selected {
  background-color:  rgb(242, 224, 152);
}

//div.right button img {
//  position: fixed;
//  z-index: 100;
//}

.dataScale {
  height: 40px;
  margin-bottom: 10px;
  float: left;
}

.ui-widget {
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
}


.no-favorite {
  color: #c8c9c3;
}
.is-favorite {
  color: orange;
}

div.egfr {
  padding-left: 0;
}

.sensorColor {
  color: #2ca25f
}
.sensorBodyLogo {
  background: image-url("sensor60.png") 10px 10px no-repeat;
  background-size: 40px 40px;
}
.rowicon {
  width: 40px;
}
.rowtitle {
  color: black;
  font-weight: bold;
}

#settings-link {
  cursor: pointer;
}

.googlefit_large {
  background: image-url("menu/googlefit60.png") 20px 15px no-repeat;
  background-size: 40px 40px;;
}

.misfit_large {
  background: image-url("menu/misfit60.png") 20px 15px no-repeat;
  background-size: 40px 40px;;
}

.moves_large {
  background: image-url("menu/moves60.png") 20px 15px no-repeat;
  background-size: 40px 40px;;
}

.withings_large {
  background: image-url("menu/withings60.png") 20px 15px no-repeat;
  background-size: 40px 40px;;
}

.fitbit_large {
  background: image-url("menu/fitbit60.png") 20px 15px no-repeat;
  background-size: 40px 40px;;
}

.hiddenSection {
  display: none !important;
  visibility: hidden;
}

// ====================

.sectionTitle {
  margin-top: 40px;
  /*background-color: rgba(0, 0, 0, 0.1);*/
  height: 60px;
  padding-left: 70px;
  line-height: 60px;
  font-variant: small-caps;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.contentBg {
  background: rgba(255, 255, 255, 1);
  color: #c8c9c3;
  width: 100%;
}


.dataCaptured {
  width: 400px;
  height: 310px;
  position: fixed;
  left:50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -150px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px 0px #000000;
  box-shadow: 0 0 20px 0px #000000;
  border-radius: 20px;
  z-index: 999;
}

.dataCaptured .inner {

  height: 250px;
}

.dataCaptured .bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #F2F3F8;
  width: 100%;
  height: 60px;
}

.info-icon {
  margin-top: 10px;
  color: #8fcd85;
}

.error-icon {
  margin-top: 10px;
  color: red;
}

.itemTitle {
  font-weight: bold;
  color: black;
}


.historyContainer {
  padding: 20px;
  position: relative;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 60px;
  /*background: #F2F3F8;*/
  /*background: RGBA(45, 54, 67, .8);*/
  height: 100px;
  /*background: red;*/
  /*border-radius: 30px;*/
}

.historyLine {
  top: 21px;
  position: absolute;
  height: 4px;
  background: #ffffff;
  /*background-color: #2D3643;*/
}

.historyTime {
  top: 50px;
  position: absolute;
  margin-left: -21px;
  font-size: 12px;
  color: #ffffff;
}

.historyItem {
  top: 0;
  margin-left: -21px;
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 32px;

}

.historyItem.titleIcon {
  left: 70px;
  top: -10px;
  position: relative;
}
.historyItem .inner {
  position: absolute;
  margin: 11px;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.historyItem .start {
  background-image: url("type/img_start.png");
}

.bgc0 {
  background-color: #4FBDF2 !important;
}

.bgc1 {
  background-color: #57C88A !important;
}

.bgc2 {
  background-color: #F09938 !important;;
}

.bgc3 {
  background-color: #8980CA !important;;
}

.bgc5 {
  background-color: #EA70B5 !important;
}

.bgc4 {
  background-color: #6CC5CC !important;;
}

.bgc6 {
  background-color: #2BC7EC !important;;
}

.bgc7 {
  background-color: #EBAAAB !important;;
}

.blood_pressure {
  background-image: url("type/img_bloodPressure.png");
}

.blood_sugar {
  background-image: url("type/img_bloodSugar.png");
}

.steps {
  background-image: url("img_cycling.png");
}

.exercise {
  background-image: url("img_exercise@2x.png");
}

.insulin {
  background-image: url("type/img_insulin.png");
}

.cycling {
  background-image: url("img_cycling.png");
}

.food {
  background-image: url("img_food.png");
}

.weight {
  background-image: url("img_weight.png");
}

.topcolor {
  width: 100%;
  min-height: 320px;
  /*background: url("../images/dashboard_bg8.jpg");*/
  background-position-y: bottom;
  padding-bottom: 20px;
}

.dashboardT {
  width: 180px;
  height: 180px;
  padding: 20px;
  margin: 2px;
  background: RGBA(255, 255, 255, 0.36);
  float: left;
}

.dashboardbody {
  background: url("dashboard_bg9.jpg") center no-repeat !important;
}

.tilesContainer {
  clear: both;
  position:relative;
  margin-left: 20px;
  margin-right: 30px;
}

.tileTitle {
  height: 100px;
  text-align: left;
  font-variant: small-caps;
}

.tileContent {
  font-size: 25px;
  color: #2D3643;
}

.tileUnit {
  font-size: 14px;
  color: #2D3643;
  padding-left: 4px;
}

.improve {
  color: green;
}
.worsen {
  color: #ab0000;
}

table#dashboardGraph {
  padding-left: 14px;
}

body.wait,
body.wait button {
    cursor: wait;
}

.clearBoth {
  clear: both;
}

.tableControl {
  background: transparent;
  border: none;
  outline: none;
}
.headerButton {
  font-size: inherit;
}


.notifTile {
  width: 538px;
  //height: 300px;
  padding: 20px;
  margin: 2px;
  background: RGBA(255, 255, 255, 0.36);
  float: left;
}
.formTile {
  //max-width: 900px;
  //height: 300px;
  padding: 20px;
  margin: 2px;
  background: white;
  float: left;
}

.notifTile .historyTitle {
  font-size: 16px !important;
}

.dismissNotif {
  cursor: pointer;
}