// Place all the styles related to the Diets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dietStyle .ui-selectmenu-button {
  margin-left: 20px;
  border: solid 1px #57C88A !important;
  background: white;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  float: left;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}



.ui-selectmenu-text{
  line-height: 2.0em !important;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: black;
  padding-left: 0px !important;
}

.tableControl {
  background: transparent;
  border: none;
  outline: none;
}

td.iconColumn {
  width: 30px;
}

span.tag {
  padding: 3px 4px;
  margin-left: 3px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  color: #fff;
  font-variant: normal !important;
}
.tag.kcal { background-color: #f46d43 };
.tag.carbs { background-color: #fdae61 };
.tag.fat { background-color: #01665e };
.tag.prot { background-color: #4575b4 };



.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}


input[type=search] {
  background-image: image-url("search-icon.png");
  background-position: 10px center;
  background-repeat: no-repeat;
//  border: 1px solid #ccc;

  padding: 10px 5px;
  text-indent: 20px;
}