// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button.errorBox {
  background: #8982c8;
  border: none;
  color: #ffffff;
  width: 90px;
  height: 40px;
  margin-top: 10px;
}