@import "common/config";

.tag.heart { background-color: #e34a33 };
.tag.cadence { background-color: #fdbb84 };
.tag.stride { background-color: #a6bddb };
.tag.sensor { background-color: #fec44f; color: black};
.rowsmall {
  font-size: 8px !important;
}

.sensorTable {
  max-height: 500px;
  overflow: scroll;
}

.selectedRow {
  background: #fff7bc !important;
}


