.titleInput {
  padding-top: 10px;
  padding-right: 5px;
}

.patientHeader {
  //float: right;
  line-height: 100%;
  margin-top: 10px;
  margin-left: 20px;
}

.patientItemAvatar {
  //float: right;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding-left: 5px;
}

.patientItemName {
  //float: right;
  background-color: #4FBDF2;

  font-size: 13px;
  font-weight: bold;
  border-radius: 2px;
  color: #fff;
  margin-top: 10px;
  margin-left: 5px;
  //height: 20px;
  padding-left: 5px;
  padding-right: 5px;

}


.mdProfile {
  background: image-url("patient_c40.png") no-repeat 5px 5px;
  background-size: 40px 40px;
  color: #4FBDF2 !important;
}

.mdBodyLogo {
  background: image-url("patient_c40.png") no-repeat 10px 10px ;
  background-size: 40px 40px;
  color: #4FBDF2 !important;
}

.mdNotifBodyLogo {
  color: #4FBDF2 !important;
  margin-top: 40px;
}

.sectionTitleIcon {
  margin-top: 10px;
  /*background-color: rgba(0, 0, 0, 0.1);*/
  height: 60px;
  padding-left: 16px;
  line-height: 60px;
  font-variant: small-caps;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.headerIcon {
  padding-left: 20px;
  width:40px;
}

.patientColor {
  color: #4FBDF2 !important;
}


.dayTag {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  //line-height: 1;
  border-radius: 2px;
  //box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);

  //font-variant: normal !important;
  color: gray;
  background-color: #fff;

}
.dayTag.selected {
  color: #fff;
  background-color: #4575b4;
}
.notificationTable button.tableControl {
  margin-top: 10px;
}

.modalDialog > div.customStyle.notificationStyle {
  width: 350px;
  height: 540px;
}

.sectionTitle #patientName {
  font-variant: normal;
  line-height: 20px;
}

.boxed-group > h3 div.patientTitle {
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

//div.patientData div.boxed-group-inner {
//  background-color: transparent;
//}


.patientControl li {
  display: inline;
  list-style-type: none;
  //text-align: center;
  //padding-right: 20px;
}
.patientControl li i {
  padding-top: 10px;
}
.patientControl li i.fa-2x {
  padding-top: 5px;
}
.patientControl {
  padding: 0px;

  //margin-top: 40px;
  /*background-color: rgba(0, 0, 0, 0.1);*/
  //height: 60px;
  //padding-left: 70px;
  //line-height: 60px;
  //font-variant: small-caps;
  //font-family: 'Open Sans', sans-serif;
  //font-weight: 300;
  //font-size: 30px;
}

.patientControl input {
  box-sizing: border-box;
  font-size: 14px;
  border: solid 1px #4FBDF2;
  //background: white;
}

.patientControl li.grayed input{
  border: solid 1px lightgray;
  color: lightgray;
}

.patientControl li.grayed i {
  color: lightgray !important;
}


.patientData i {
  color: #4FBDF2;
}

.bold {
  font-weight: bold;
}

.chartHeader {
  height: 42px;
  background-color: #f5f5f5;
  margin: 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  display: block;
  //vertical-align: middle;
}

.chartHeader span {
  vertical-align: middle;
}
.chartHeader i {
  vertical-align: middle;
  padding-right: 5px;
}
i.showAnalysis {
  cursor: pointer;
}