body.bodyBg {
  background: #9DCFFE;
  font-family: Arial;
}


.registerDiv {
  background: white;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 250px;
  width: 325px;
  margin-left: -150px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 0.2);
}

.loginDiv {
  background: white;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 300px;
//  width: 300px;
  margin-left: -150px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 0.2);
}

#loginLogo {
  width: 128px;
  height: 128px;
  float: left;
}

.loginField {
  font-size: 14px;
  border: solid 1px #4FBDF2;
  background: white;
  height: 40px;
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;

  box-sizing: border-box;
}

fieldset.loginField {
  font-size: 14px;
  border: solid 1px #4FBDF2;
  background: white;
  height: 120px;
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-left: 0px;

  box-sizing: border-box;
  display: table;
}

fieldset.profileField {
  font-size: 14px;
  border: solid 1px #4FBDF2;
  background: white;
  height: 170px;
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-left: 0px;

  box-sizing: border-box;
  display: table;
}
div.loginRow {
  display: table-row;
}

div.loginRow>input, div.loginRow>span {
  display: table-cell;
}

.loginButton {
  font-size: 14px;
  border: solid 1px #4FBDF2;
  height: 40px;
  width: 260px;
  text-align: center;
  background: #4FBDF2;
  color: white;
}

.skipButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  padding-top: 5px;
  color: #A5A5A5;
  font-size: 12px;
  cursor: pointer;
}

.featuresDiv {
  position: relative;
  width: 800px;
  left: 50%;
  margin-left: -420px;
  top: 550px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 20px;
}

.featuresDiv table {
  margin-top: 10px;
  width: 100%;
}

.featuresDiv table td {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
  width: 16%;
  text-align: center;
  vertical-align: top;
}
.welcomeMessage {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
  width: 100%;
  text-align: center;
  vertical-align: top;
  font-size: 12px;
}

.featuresDiv table td img {
  width: 50px;
  height: 50px;
}

.featuresDiv table td p {
  font-size: 12px;
}

// Forgot password
a.forgottenPwLink, a.forgottenPwLink:visited {
  text-decoration: none;
  color: #80A4F0;
  font-size: 12px;
}
a.signupLink, a.signupLink:visited {
  text-decoration: none;
  color: rgb(242, 224, 152);
}

.forgottenDiv {
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 270px;
  width: 400px;
  margin-left: -200px;
}

.forgottenField {
  font-size: 14px;
  border: solid 1px #4FBDF2;
  background: white;
  height: 40px;
  width: 400px;
  padding-left: 20px;
  padding-right: 50px;
  margin-bottom: 10px;
  float: left;
  box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 0.2);

  box-sizing: border-box;
}

.forgottenButton {
  font-size: 14px;
  border: solid 1px #4FBDF2;
  height: 40px;
  width: 70px;
  margin-left: -70px;
  text-align: center;
  background: #4FBDF2;
  color: white;
  float: left;
}

.langSwitcher {
  color: black;
  float: right;
  cursor: pointer;
  width: 5%;
}

.signinHeader {
  position: absolute;
  left: 50%;
  margin-left: -144px;
  width: 288px;
  top: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.signupHeader {
  position: absolute;
  left: 50%;
  margin-left: -144px;
  width: 430px;
  top: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.signinTitle {
  color: white;
}
.signinDetail {
  color: white;
  font-size: 16px;
}

.featureStyle {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}