#traffic-container {
    width: 960px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
    position: relative;
}

#traffic-vis {
	clear: both;
	margin-bottom: 20px;
	height: 200px;
}

#traffic-tiles {
	font-size: 10px;
	clear: both;
}

#traffic-tiles th {
	vertical-align: top;
	padding: 3px;
	color: #7A7A6F;
}

#traffic-tiles tr th {
	padding-top: 2px;
}

#traffic-tiles tr:first-child th {
	padding-top: 3px;
}

#traffic-tiles td {
	-webkit-perspective: 1000;
}

#traffic-tiles .tile {
	width: 20px;
	height: 20px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.7s;
}

.face {
	position: absolute;
	-webkit-backface-visibility: hidden;
	width: 18px;
	height: 18px;
	background: #eee;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#traffic-tiles td.sel .face {
	border-color: black;
}

.face.hidden {
	display: none;
}

#traffic-tiles td.dim .screen {
	opacity: 0.6;
}

.face.back {
	-webkit-transform: rotateY(180deg);
}

.tile .screen {
	background: white;
	opacity: 0.0;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 1337;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid white;
}

.traffic-legend {
	//margin-left: 60px;
	//width: 220px;
	color: #777;
	//margin-top: 10px;
	//background: #f3f3f3;
	//border: 1px solid #f0f0f0;
	//overflow: hidden;
	//padding: 5px 7px;
	//-moz-border-radius: 3px;
	//border-radius: 3px;
	font-size: 11px;
	line-height: 11px;
	//margin-bottom: 10px;
	//margin-right: 24px;
    //float: left;
}

.legend-label {
  display: inline;
}
.traffic-legend ul {
	list-style-type: none;
	overflow: hidden;
	clear: both;
  display: inline;
}

.traffic-legend li {
	float: left;
	margin-right: 1px;
	width: 14px;
	height: 14px;
}

.traffic-legend p {
	margin-top: 3px;
}

.traffic-legend p.more {
    float: right;
}

.traffic-legend p.less {
   float: left;
}

#traffic-all {
  float: left;
}

#traffic-all input.sumicon {
  margin-top: 10px;
  margin-left: 10px;
}

#traffic-uinfo {
  float: right;
}

#traffic-uinfo p.email {
  margin-top: 20px;
  margin-right: 370px;
}

.rbow2 .q1-11 {
    background: #F6F5EA;
}

.rbow2 .q2-11 {
    background: #F2DDD3;
}

.rbow2 .q3-11 {
    background: #EFC6BD;
}

.rbow2 .q4-11 {
    background: #ECAEA7;
}

.rbow2 .q5-11 {
    background: #E99791;
}

.rbow2 .q6-11 {
    background: #E67F7B;
}

.rbow2 .q7-11 {
    background: #E26864;
}

.rbow2 .q8-11 {
    background: #DF504E;
}

.rbow2 .q9-11 {
    background: #DC3938;
}

.rbow2 .q10-11 {
    background: #D92122;
}

.rbow2 .q11-11 {
    background: #D60A0C;
}

.dealloc .q1-10 {
	background: #702f9d;
	
	border-top-color: #670c9f;
	border-right-color: #540982;
	border-bottom-color: #540982;
	border-left-color: #670c9f;
	
}

.dealloc .q2-10 {
	background: #352f9e;
	
	border-top-color: #702f9d;
	border-right-color: #702f9d;
	border-bottom-color: #702f9d;
	border-left-color: #702f9d;
}

.dealloc .q3-10 {
	background: #2f659e;
	
	border-top-color: #702f9d;
	border-right-color: #702f9d;
	border-bottom-color: #702f9d;
	border-left-color: #702f9d;
}

.dealloc .q4-10 {
	background: #2fa09c;
	
	border-top-color: #702f9d;
	border-right-color: #702f9d;
	border-bottom-color: #702f9d;
	border-left-color: #702f9d;
}

.dealloc .q5-10 {
	background: #3fa42c;
	
	border-top-color: #702f9d;
	border-right-color: #702f9d;
	border-bottom-color: #702f9d;
	border-left-color: #702f9d;
}

.dealloc .q6-10 {
	background: #9ab12d;
	
	border-top-color: #702f9d;
	border-right-color: #702f9d;
	border-bottom-color: #702f9d;
	border-left-color: #702f9d;
}

.dealloc .q7-10 {
	background: #bdb82c;
	
	border-top-color: #702f9d;
	border-right-color: #702f9d;
	border-bottom-color: #702f9d;
	border-left-color: #702f9d;
}

.dealloc .q8-10 {
	background: #bd9b2c;
	
	border-top-color: #702f9d;
	border-right-color: #702f9d;
	border-bottom-color: #702f9d;
	border-left-color: #702f9d;
}

.dealloc .q9-10 {
	background: #bd7f2c;
	
	border-top-color: #702f9d;
	border-right-color: #702f9d;
	border-bottom-color: #702f9d;
	border-left-color: #702f9d;
}

.dealloc .q10-10 {
	background: #bd5c2b;
	
	border-top-color: #702f9d;
	border-right-color: #702f9d;
	border-bottom-color: #702f9d;
	border-left-color: #702f9d;
}

#traffic-container ul, li, legend, table, tbody, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

#traffic-container table {
    border-collapse: separate;
    border-spacing: 0;
}
