<%= form_for [@user, @friendship] do |f| %>

    <p>
        <label for="friend">Friend Name</label><br>
        <input id="friend" name="friend_name" type="integer"/>
    </p>
    <p>
        <button id="new-friendship-button" type="submit">Send request</button>
    </p>
<% end %>