<form id="act-form">
    <input id="activity-form-userid" name="user_id" value="<%= @user.id %>" type="hidden">
    <input id="activity-form-source" name="activity[source]" value="smartsport" type="hidden">

    <div class="logform clearfix" id="act-form-div">
        <fieldset>

            <div class="action-list">
                <% for curr in ['walking', 'cycling', 'pingpong', 'coffee', 'eat'] %>
                    <%= render partial: 'activity_action_item', locals: {:curr => curr} %>
                <% end %>
            </div>

            <div class="activity-container">

                <!-- walking -->
                <div class="field field-temp walking-param hidden">
                    <label for="walking-date">Time</label>
                    <span class="entry">
                        <input id="walking-date" name="activity[start_time]" class="date-input walking-param">
                    </span>
                </div>
                <div class="field field-temp walking-param hidden">
                    <label for="walking-duration">Duration (min)</label>
                    <span class="entry">
                        <input id="walking-duration" name="activity[duration]" class="entry-mini walking-param">
                    </span>
                </div>
                <div class="field field-temp walking-param hidden">
                    <label for="walking-steps">Steps</label>
                    <span class="entry">
                        <input id="walking-steps" name="activity[steps]" class="entry-mini walking-param">
                    </span>
                </div>

                <!-- pingpong  -->
                <div class="field field-temp ping-pong-param hidden">
                    <label for="pingpong-date">Time</label>
                    <span class="entry">
                        <input id="pingpong-date" name="activity[datexx]" class="date-input">
                    </span>
                </div>
                <div class="field field-temp ping-pong-param hidden">
                    <label for="pingpong-duration">Duration (min)</label>
                    <span class="entry">
                        <input id="pingpong-duration" name="activity[total_durationxx]" class="entry-mini">
                    </span>
                </div>
                <div class="field field-temp ping-pong-param hidden">
                    <label for="pingpong-players">Players</label>
                    <span class="entry">
                        <select id="pingpong-activity-participant" name="activity[stepsxx]" class="entry-normal"></select>
                    </span>
                    <i id="add-pingpong-participant" class="fa fa-plus-square fa-ex text-green"></i>
                    <div id="pingpong-participants">

                    </div>
                </div>
                <div id="pingpong-games-container" class="field field-temp ping-pong-param hidden">
                    <label for="pingpong-games">Games</label>
                    <span class="entry">
                        <select id="pingpong-games" name="activity[games]" class="entry-normal"></select>
                    </span>
                    <input type="text" class="entry-number">: <input type="text" class="entry-number">
                    <i id="add-pingpong-game" class="fa fa-plus-square fa-ex text-green"></i>
                </div>


                <!-- coffee  -->
                <div class="field field-temp coffee-param hidden">
                    <label for="coffee-date">Time</label>
                    <span class="entry">
                        <input id="coffee-date" name="activity[start_time]" class="entry-mini">
                    </span>
                </div>


                <div id="act-message" class="act-message hidden-placed action-list">
                    <div id="act-message-item" class="action-item"></div>
                </div>
            </div>

        </fieldset>
    </div>
</form>
