<form id="act-form">
    <input id="activity-form-userid" name="user_id" value="<%= @user.id %>" type="hidden">
    <input id="activity-form-source" name="activity[source]" value="smartsport" type="hidden">
    <input id="lifestyle-form-source" name="lifestyle[source]" value="smartsport" type="hidden">
    <input id="current-activity-data" type="hidden"/>
    <input id="current-lifestyle-data" type="hidden"/>
    <div class="logform clearfix" id="act-form-div">
        <fieldset>

            <div id="action-table" class="action-list">
                <% for curr in ['walking', 'cycling', 'pingpong', 'coffee', 'eat', 'cigarette'] %>
                    <%= render partial: 'activity_action_item', locals: {:curr => curr} %>
                <% end %>
            </div>

            <div id="activity-container">

                <!-- walking -->
                <div class="field-temp walking-ui hidden">
                    <h3>Walking activity</h3>
                </div>
                <input id="walking-id" name="activity[id]" type="hidden" class="walking-param">
                <div class="field field-temp walking-ui hidden">
                    <label for="walking-start_time">Time</label>
                    <span class="entry">
                        <input id="walking-start_time" name="activity[start_time]" class="date-input walking-param">
                    </span>
                </div>
                <div class="field field-temp walking-ui hidden">
                    <label for="walking-duration">Duration (min)</label>
                    <span class="entry">
                        <input id="walking-duration" name="activity[duration]" class="entry-mini walking-param">
                    </span>
                </div>
                <div class="field field-temp walking-ui hidden">
                    <label for="walking-steps">Steps</label>
                    <span class="entry">
                        <input id="walking-steps" name="activity[steps]" class="entry-mini walking-param">
                    </span>
                </div>

                <!-- cycling -->
                <div class="field-temp cycling-ui hidden">
                    <h3>Cycling activity</h3>
                </div>
                <input id="cycling-id" name="activity[id]" type="hidden" class="cycling-param">
                <div class="field field-temp cycling-ui hidden">
                    <label for="cycling-start_time">Time</label>
                    <span class="entry">
                        <input id="cycling-start_time" name="activity[start_time]" class="date-input cycling-param">
                    </span>
                </div>
                <div class="field field-temp cycling-ui hidden">
                    <label for="cycling-duration">Duration (min)</label>
                    <span class="entry">
                        <input id="cycling-duration" name="activity[duration]" class="entry-mini cycling-param">
                    </span>
                </div>
                <div class="field field-temp cycling-ui hidden">
                    <label for="cycling-steps">Distance</label>
                    <span class="entry">
                        <input id="cycling-distance" name="activity[distance]" class="entry-mini cycling-param">
                    </span>
                </div>

                <!-- pingpong  -->
                <div class="field-temp pingpong-ui hidden">
                    <h3>Ping-pong activity</h3>
                </div>
                <input id="pingpong-id" name="activity[id]" type="hidden" class="pingpong-param">
                <div class="field field-temp pingpong-ui hidden">
                    <label for="pingpong-start_time">Time</label>
                    <span class="entry">
                        <input id="pingpong-start_time" name="activity[start_time]" class="date-input pingpong-param">
                    </span>
                </div>
                <div class="field field-temp pingpong-ui hidden">
                    <label for="pingpong-duration">Duration (min)</label>
                    <span class="entry">
                        <input id="pingpong-duration" name="activity[duration]" class="entry-mini pingpong-param">
                    </span>
                </div>
                <div class="field field-temp pingpong-ui hidden">
                    <label for="pingpong-players">Players</label>
                    <span class="entry">
                        <select id="pingpong-activity-participant" class="entry-normal"></select>
                    </span>
                    <i id="add-pingpong-participant" class="fa fa-plus-square fa-ex text-green"></i>
                    <div id="pingpong-participants">
                    </div>
                </div>
                <div id="pingpong-games-container" class="field field-temp pingpong-ui hidden">
                    <label for="pingpong-games">Games</label>
                    <span class="entry">
                        <select id="pingpong-games" class="entry-normal"></select>
                    </span>
                    <input type="text" class="entry-number">: <input type="text" class="entry-number">
                    <i id="add-pingpong-game" class="fa fa-plus-square fa-ex text-green"></i>
                </div>


                <!-- coffee  -->
                <div class="field-temp coffee-ui hidden">
                    <h3>Coffee</h3>
                </div>
                <input id="coffee-id" name="lifestyle[id]" type="hidden" class="coffee-param">
                <div class="field field-temp coffee-ui hidden">
                    <label for="coffee-start_time">Time</label>
                    <span class="entry">
                        <input id="coffee-start_time" name="lifestyle[start_time]" class="date-input coffee-param">
                    </span>
                </div>

                <!-- eat  -->
                <div class="field-temp eat-ui hidden">
                    <h3>Eat</h3>
                </div>
                <input id="eat-id" name="lifestyle[id]" type="hidden" class="eat-param">
                <div class="field field-temp eat-ui hidden">
                    <label for="eat-start_time">Time</label>
                    <span class="entry">
                        <input id="eat-start_time" name="lifestyle[start_time]" class="date-input eat-param">
                    </span>
                </div>

                <!-- cigarette  -->
                <div class="field-temp cigarette-ui hidden">
                    <h3>Cigarette</h3>
                </div>
                <input id="cigarette-id" name="lifestyle[id]" type="hidden" class="cigarette-param">
                <div class="field field-temp cigarette-ui hidden">
                    <label for="cigarette-start_time">Time</label>
                    <span class="entry">
                        <input id="cigarette-start_time" name="lifestyle[start_time]" class="date-input cigarette-param">
                    </span>
                </div>


                <div class="life-edit-controls field-temp hidden">
                    <span id="save-lifestyle-button" class="edit-control">Save</span>
                    <span id="cancel-lifestyle-button" class="delete-control">Cancel</span>
                </div>
                <div class="act-edit-controls field-temp hidden">
                    <span id="save-activity-button" class="edit-control">Save</span>
                    <span id="cancel-activity-button" class="delete-control">Cancel</span>
                </div>

                <div id="act-message" class="act-message action-list">
                    <!--<div id="act-message-item" class="action-item"></div>-->
                    <div id="act-message-item" class="action-item hidden">
                        <i class="fa fa-check success"></i>
                        <span></span>
                        <span class="edit-control-holder">
                            <div class="edit-control">Edit</div>
                        </span>
                        <span class="delete-control-holder">
                            <div class="delete-control">Delete</div>
                        </span>
                    </div>
                    <div id="act-message-failed" class="action-item hidden">
                        Failed
                    </div>
                </div>
                <div id="life-message" class="act-message action-list">
                    <div id="life-message-item" class="action-item hidden">
                        <i class="fa fa-check success"></i>
                            <span></span>
                            <span class="edit-control-holder">
                                <div class="edit-control">Edit</div>
                            </span>
                            <span class="delete-control-holder">
                                <div class="delete-control">Delete</div>
                            </span>
                    </div>
                    <div id="life-message-failed" class="action-item hidden">
                        Failed
                    </div>
                 </div>
            </div>

        </fieldset>
    </div>
</form>
