<div id="<%= connection_name %>-container" class="boxed-group connection-block">
    <input type="hidden" class="connection-name" value="<%= connection_name %>"/>
    <input type="hidden" class="curr-date" />
    <input type="hidden" class="curr-meas" value="walking"/>
    <input type="hidden" class="is-weekly" value="no"/>

    <h3><img src="<%= asset_path( connection_name +"-logo.png")%>" width="24px" height="24px"> Activity <span class="detail training-detail"></span>
        <div class="right">
            <span id="today-button" class="minibutton right">Today</span>
            <span id="week-button" class="minibutton right">Weekly</span>
        </div>
    </h3>

    <div class="boxed-group-inner clearfix">
        <div class="chart-nav">
            <div class="nav-arrow-left"><i id="moves-left-arrow" class="fa fa-chevron-left arrow"></i></div>
            <div class="nav-arrow-centered" id="moves-chart-date"></div>
            <div class="nav-arrow-right"><i id="moves-right-arrow" class="fa fa-chevron-right arrow"></i></div>
        </div>
        <div class="meas-col">
            <div class="meas-block selected">
                <div class="meas-val steps">
                </div>
                <div class="meas-annot">
                    Steps Walking
                </div>
            </div>
            <div class="meas-block">
                <div class="meas-val km-cycling">
                </div>
                <div class="meas-annot">
                    Km Cycling
                </div>
            </div>
            <div class="meas-block">
                <div class="meas-val km-running">
                </div>
                <div class="meas-annot">
                    Km Running
                </div>
            </div>
        </div>

        <div class="meas-col meas-center">
            <div class="meas-val avg-percent">
                10%
            </div>
            <div class="meas-annot avg-description">
                of weekly average
            </div>
        </div>

        <div class="meas-col">
            <div class="meas-block">
                <div class="meas-val calories"></div>
                <div class="meas-annot">Calories</div>
            </div>
            <div class="meas-block">
                <div class="meas-val distance"></div>
                <div class="meas-annot">Km distance</div>
            </div>
            <div class="meas-block">
                <div class="meas-val meas-small duration"></div>
                <div class="meas-annot">Activity</div>
            </div>
        </div>
    </div>

    <div class="boxed-group-inner chart activity-chart">
        <svg class="activity-chart-svg">
        </svg>
    </div>

    <div class="boxed-group-inner chart activity-trend">
        <svg id="activity-trend-svg">
        </svg>
    </div>
</div>
