<div>
    <div class="logform clearfix hidden" id="activity-data">
        <form id="activity-form">
            <div id="activity-data-form" class="list-container">
                <div class="list-item">
                    <span class="list-attr">Walk</span>
                    <i class="fa fa-child header-icon fa-lg"></i>
                    <span class="list-attr label">Dutation</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="duration" value=""></span>
                    <span class="list-attr unit">min</span>
                    <span class="list-attr label">Steps</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="steps" value=""></span>
                    <span class="list-attr label">Distance</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="distance" value=""></span>
                    <span class="list-attr unit">km</span>
                    <i id="walk-activity-add" class="fa fa-plus-circle fa-2x text-green walking-act add-icon"></i>
                </div>
                <div class="list-item">
                    <span class="list-attr">Run</span>
                    <i class="fa fa-child header-icon fa-lg"></i>
                    <span class="list-attr label">Dutation</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="duration" value=""></span>
                    <span class="list-attr unit">min</span>
                    <span class="list-attr label">Steps</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="steps" value=""></span>
                    <span class="list-attr label">Distance</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="distance" value=""></span>
                    <span class="list-attr unit">km</span>
                    <i id="walk-running-add" class="fa fa-plus-circle fa-2x text-green running-act add-icon"></i>
                </div>
                <div class="list-item">
                    <span class="list-attr">Cycle</span>
                    <i class="fa fa-bicycle header-icon fa-lg"></i>
                    <span class="list-attr label">Dutation</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="duration" value=""></span>
                    <span class="list-attr unit">min</span>
                    <span class="list-attr label">Distance</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="steps" value=""></span>
                    <span class="list-attr unit">km</span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <i id="walk-running-add" class="fa fa-plus-circle fa-2x text-green cycling-act add-icon"></i>
                </div>
            </div>
        </form>

        <div id="activity-data-table" class="list-container recent-records-table">
            <div class="list-item">
                <span class="list-header"></span>
                <span class="list-header">Time</span>
                <span class="list-header">Type</span>
                <span class="list-header">Duration</span>
                <span class="list-header">Steps</span>
                <span class="list-header">Distance</span>
            </div>
            <!--place of rows-->
        </div>

        <div class="hidden row-template">
            <div id="act-iid" class="list-item row-item">
                <i class="fa fa-check success"></i>
                <span class="list-attr attr-start_time long"></span>
                <span class="list-edit hidden"><input class="long attr-start_time" type="text" name="start_time" value=""></span>

                <span class="list-attr attr-group medium"></span>
                <span class="list-edit hidden"><input class="medium attr-group" type="text" name="group" value="" disabled></span>

                <span class="list-attr attr-duration short"></span>
                <span class="list-edit hidden"><input class="short attr-duration" type="text" name="duration" value=""></span>

                <span class="list-attr attr-steps short"></span>
                <span class="list-edit hidden"><input class="short attr-steps" type="text" name="steps" value=""></span>

                <span class="list-attr attr-distance short"></span>
                <span class="list-edit hidden"><input class="short attr-distance" type="text" name="distance" value=""></span>

                <span class="list-ctrl show">
                    <div class="edit-control">Edit</div>
                </span>
                <span class="list-ctrl show">
                    <div class="delete-control">Delete</div>
                </span>
                <span class="list-ctrl edit hidden">
                    <div class="save-control">Save</div>
                </span>
                <span class="list-ctrl edit hidden">
                    <div class="cancel-control">Cancel</div>
                </span>
            </div>
        </div>
    </div>
</div>
