<div class="app2Menu">
  <div class="inner ">
    <div class="menuitem c0 myprofile">
      <a id="myprofile-link" class="menulink menulink-selected" href="#">
        <%= t 'menu_users' %>
      </a>
    </div>
  </div>
</div>
