<div class="sectionTitleNoicon healthColor">
  <span class="left iconselect iconselectHeader iconselect_<%=custom_form.image_name %>"></span>
  <span class="left"><%= t custom_form.form_name %></span>
  <div class="left pl10" >
    <span class="glyphicon glyphicon-edit headerControlIcon editCustomFormIcon" aria-hidden="true"></span>
  </div>
</div>

