<% for custom_form in @custom_forms %>
<li data-customFormId="<%= custom_form.id %>">
  <span class='<%= "iconselect_"+custom_form.image_name %> cficon' >
  </span>
  <div class='customFormSelectText'><%= custom_form.form_name %></div>
</li>
<% end %>