<div>
    <div class="logform clearfix hidden" id="lifestyle-data">
        <form id="lifestyle-form">
            <div id="lifestyle-data-form" class="list-container">
                <div class="list-item">
                    <span class="list-attr">Eat</span>
                    <i class="fa fa-birthday-cake header-icon fa-lg"></i>
                    <span class="list-attr label">Name</span>
                    <span class="list-attr"><input class="entry-normal" type="text" name="food" value=""></span>
                    <span class="list-attr label">Calories</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="calories" value=""></span>
                    <i id="eat-lifestyle-add" class="fa fa-plus-circle fa-2x text-green add-icon eat-event"></i>
                </div>
                <div class="list-item">
                    <span class="list-attr">Drink</span>
                    <i class="fa fa-beer header-icon fa-lg"></i>
                    <span class="list-attr label">Name</span>
                    <span class="list-attr"><input class="entry-normal" type="text" name="drink" value=""></span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <i id="drink-lifestyle-add" class="fa fa-plus-circle fa-2x text-green add-icon drink-event"></i>
                </div>
                <div class="list-item">
                    <span class="list-attr">Cigarette</span>
                    <i class="fa fa-bomb header-icon fa-lg"></i>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <span class="list-attr label">Amount</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="cigarette" value=""></span>

                    <i id="cigarette-lifestyle-add" class="fa fa-plus-circle fa-2x text-green add-icon cigarette-event"></i>
                </div>
            </div>
            </form>


            <div id="lifestyle-data-table" class="list-container recent-records-table">
                <div class="list-item">
                    <span class="list-header"></span>
                    <span class="list-header">Time</span>
                    <span class="list-header">Name</span>
                    <span class="list-header"></span>
                    <span class="list-header"></span>
                    <span class="list-header"></span>
                </div>
                <!--place of rows-->
                <div id="life-iid" class="list-item measure-item">
                    <i class="fa fa-check success"></i>
                    <span class="list-attr attr-date long">2015-02-11 09:35</span>
                    <span class="list-edit hidden"><input class="long attr-date" type="text" name="date" value="2015-02-11 09:35"></span>
                    <span class="list-attr attr-bp medium">eat</span>

                    <span class="list-attr attr-bp medium">123</span>
                    <span class="list-edit hidden"><input class="medium attr-bp" type="text" name="heart" value="123"></span>
                    <span class="list-ctrl show">
                        <div class="edit-meas-control">Edit</div>
                    </span>
                    <span class="list-ctrl show">
                        <div class="delete-meas-control">Delete</div>
                    </span>
                </div>
            </div>

            <div id="lifestyle-row-template" class="hidden">
                <div id="meas-iid" class="list-item measure-item">
                    <i class="fa fa-check success"></i>
                    <span class="list-attr attr-date long">2015-02-11 09:35</span>
                    <span class="list-edit hidden"><input class="long attr-date" type="text" name="date" value="2015-02-11 09:35"></span>
                    <span class="list-attr attr-bp medium">123/66/45</span>
                </div>
            </div>
        <!--</fieldset>-->
    </div>
    <!--</form>-->
</div>
