<div>
    <div class="logform clearfix hidden" id="lifestyle-data">
        <form id="lifestyle-form">
            <div id="lifestyle-data-form" class="list-container">
                <div class="list-item">
                    <span class="list-attr">Eat</span>
                    <i class="fa fa-birthday-cake header-icon fa-lg"></i>
                    <span class="list-attr label">Name</span>
                    <span class="list-attr"><input class="entry-normal" type="text" name="food" value=""></span>
                    <span class="list-attr label">Calories</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="calories" value=""></span>
                    <i id="eat-lifestyle-add" class="fa fa-plus-circle fa-2x text-green add-icon eat-event"></i>
                </div>
                <div class="list-item">
                    <span class="list-attr">Drink</span>
                    <i class="fa fa-beer header-icon fa-lg"></i>
                    <span class="list-attr label">Name</span>
                    <span class="list-attr"><input class="entry-normal" type="text" name="drink" value=""></span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <i id="drink-lifestyle-add" class="fa fa-plus-circle fa-2x text-green add-icon drink-event"></i>
                </div>
                <div class="list-item">
                    <span class="list-attr">Cigarette</span>
                    <i class="fa fa-bomb header-icon fa-lg"></i>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <span class="list-attr label">Amount</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="cigarette" value=""></span>

                    <i id="cigarette-lifestyle-add" class="fa fa-plus-circle fa-2x text-green add-icon cigarette-event"></i>
                </div>
            </div>
        </form>

        <div id="lifestyle-data-table" class="list-container recent-records-table">
            <div class="list-item">
                <span class="list-header"></span>
                <span class="list-header">Time</span>
                <span class="list-header">Group</span>
                <span class="list-header">Name</span>
                <span class="list-header">Amount</span>
                <span class="list-header"></span>
            </div>
            <!--place of rows-->

        </div>

        <div class="hidden row-template">
            <div id="life-iid" class="list-item row-item">
                <i class="fa fa-check success"></i>
                <span class="list-attr attr-start_time long">2015-02-11 09:35</span>
                <span class="list-edit hidden"><input class="long attr-start_time" type="text" name="start_time" value=""></span>
                <span class="list-attr attr-group medium"></span>
                <span class="list-edit hidden"><input class="medium attr-group" type="text" name="group" value=""></span>
                <span class="list-attr attr-name medium"></span>
                <span class="list-edit hidden"><input class="medium attr-name" type="text" name="name" value=""></span>
                <span class="list-attr attr-amount short"></span>
                <span class="list-edit hidden"><input class="short attr-amount" type="text" name="amount" value=""></span>

                <span class="list-ctrl show">
                    <div class="edit-control">Edit</div>
                </span>
                <span class="list-ctrl show">
                    <div class="delete-control">Delete</div>
                </span>
                <span class="list-ctrl edit hidden">
                    <div class="save-control">Save</div>
                </span>
                <span class="list-ctrl edit hidden">
                    <div class="cancel-control">Cancel</div>
                </span>
            </div>
        </div>
    </div>
</div>
