<div>

    <div class="logform clearfix hidden" id="friend-form-div">
        <form id="friend-form">
            <div id="act-form-elem" class="list-container">
                <div class="list-item">
                    <span class="list-attr">Friend</span>
                    <i class="fa fa-child header-icon fa-lg"></i>
                    <span class="list-attr label">Username</span>
                    <span class="list-attr"><input class="entry-mini" type="text" name="username" value=""></span>
                    <span class="list-attr label"></span>
                    <span class="list-attr"></span>
                    <span class="list-attr label"></span>
                    <span class="list-attr"></span>
                    <i id="walk-activity-add" class="fa fa-plus-circle fa-2x text-green friend-add"></i>
                </div>
            </div>
        </form>
        <div id="friend-table" class="list-container recent-records-table">
            <div class="list-item">
                <span class="list-header"></span>
                <span class="list-header">Date</span>
                <span class="list-header">Name</span>
                <span class="list-header"></span>
                <span class="list-header"></span>
                <span class="list-header"></span>
            </div>
            <div id="fr-iid" class="list-item friend-item">
                <i class="fa fa-check success"></i>
                <span class="list-attr attr-date long">2015-02-11 09:35</span>
                <span class="list-attr attr-date long">Zoli</span>
            </div>
        </div>

    </div>
</div>