<form id="heart-form">
    <input id="meas-user_id" name="measurement[user_id]" value="<%= @user.id %>" type="hidden">
    <input id="meas-source" name="measurement[source]" value="smartsport" type="hidden">
    <input id="current-measurement-data" type="hidden"/>
    <div class="logform clearfix hidden" id="heart-form-div">
        <fieldset>
            <div id="action-table" class="measure-list">
                <div class="measure-item">
                    <i class="fa fa-heart fa-1x"></i>
                    <label for="meas-sys">SYS</label><span class="entry"><input id="meas-sys" name="measurement[systolicbp]" class="entry-mini"></span>
                    <label for="meas-dia">DIA</label><span class="entry"><input id="meas-dia" name="measurement[diastolicbp]" class="entry-mini"></span>
                    <label for="meas-hr">HR</label><span class="entry"><input id="meas-hr" name="measurement[pulse]" class="entry-mini"></span>
                    <i id="save-measurement-button" class="fa fa-plus-circle fa-2x text-green measurement-add"></i>
                </div>
            </div>

            <div id="measurement-container" class="measurement-container">

                <div class="field-temp measure-ui hidden">
                    <h3>Heart data measurement</h3>
                </div>
                <input id="meas-id" name="id" type="hidden" class="measure-param">

                <div class="field field-temp measure-ui hidden">
                    <label for="meas-sys">SYS</label>
                    <span class="entry">
                        <input id="meas-systolicbp" name="systolicbp" class="entry-mini measure-param">
                    </span>
                </div>

                <div class="field field-temp measure-ui hidden">
                    <label for="meas-dia">DIA</label>
                    <span class="entry">
                        <input id="meas-diastolicbp" name="diastolicbp" class="entry-mini measure-param">
                    </span>
                </div>

                <div class="field field-temp measure-ui hidden">
                    <label for="meas-hr">HR</label>
                    <span class="entry">
                        <input id="meas-pulse" name="pulse" class="entry-mini measure-param">
                    </span>
                </div>

                <div class="field field-temp measure-ui hidden">
                    <label for="meas-date">Date</label>
                    <span class="entry">
                        <input id="meas-date" name="date" class="date-input measure-param">
                    </span>
                </div>

                <div id="edit-controls" class="field-temp hidden">
                    <span id="update-measurement-button" class="edit-control">Save</span>
                    <span id="cancel-measurement-button" class="delete-control">Cancel</span>
                </div>

                <div id="meas-message" class="meas-message hidden-placed measure-list">
                    <div id="meas-message-item" class="measure-item"></div>
               </div>
            </div>
        </fieldset>
    </div>
</form>