<div>
    <div class="logform clearfix" id="health-data">
        <form id="health-form">
            <div id="health-data-form" class="list-container">
                <div class="list-item">
                    <i class="fa fa-heart header-icon fa-lg"></i>
                    <span class="list-attr label">SYS</span>
                    <span class="list-attr"><input id="meas-sys" name="measurement[systolicbp]" class="entry-mini-half"></span>
                    <span class="list-attr unit">mmHg</span>
                    <span class="list-attr label">DIA</span>
                    <span class="list-attr"><input id="meas-dia" name="measurement[diastolicbp]" class="entry-mini-half"></span>
                    <span class="list-attr unit">mmHg</span>
                    <span class="list-attr label">HR</span>
                    <span class="list-attr"><input id="meas-hr" name="measurement[pulse]" class="entry-mini-half"></span>
                    <span class="list-attr unit">bpm</span>
                    <i id="save-measurement-button" class="fa fa-plus-circle fa-2x text-green add-icon heart-meas"></i>
                </div>

                <div class="list-item">
                    <i class="fa fa-tint header-icon fa-lg"></i>
                    <span class="list-attr label">Blood Sugar</span>
                    <span class="list-attr"><input id="meas-blood_sugar" name="measurement[blood_sugar]" class="entry-mini-half"></span>
                    <span class="list-attr unit">mmol/L</span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <i id="save-measurement-button" class="fa fa-plus-circle fa-2x text-green add-icon blood-meas"></i>
                </div>

                <div class="list-item">
                    <i class="fa fa-area-chart header-icon fa-lg"></i>
                    <span class="list-attr label">Weight</span>
                    <span class="list-attr"><input id="meas-weight" name="measurement[weight]" class="entry-mini-half"></span>
                    <span class="list-attr unit">kg</span>
                    <span class="list-attr label">Waist</span>
                    <span class="list-attr"><input id="meas-waist" name="measurement[waist]" class="entry-mini-half"></span>
                    <span class="list-attr unit">cm</span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <span class="list-attr"></span>
                    <i id="save-measurement-button" class="fa fa-plus-circle fa-2x text-green add-icon body-meas"></i>
                </div>
            </div>
            </form>

            <div id="health-data-table" class="list-container recent-records-table">
                <div class="list-item">
                    <span class="list-header"></span>
                    <span class="list-header">Time</span>
                    <span class="list-header">SYS/DIA/HR</span>
                    <span class="list-header">BS</span>
                    <span class="list-header">WEIGHT</span>
                    <span class="list-header">WAIST</span>
                    <span class="list-header"></span>
                    <span class="list-header"></span>
                </div>
                <!--place of rows-->
           </div>

        <div class="hidden row-template">
            <div id="meas-iid" class="list-item row-item">
                <i class="fa fa-check success"></i>
                <span class="list-attr attr-date long"></span>
                <span class="list-edit hidden"><input class="long attr-date" type="text" name="date" value=""></span>
                <span class="list-attr attr-heart medium"></span>
                <span class="list-edit hidden"><input class="medium attr-heart" type="text" name="heart" value=""></span>
                <span class="list-attr attr-blood_sugar short"></span>
                <span class="list-edit hidden"><input class="short attr-blood_sugar" type="text" name="blood_sugar" value=""></span>
                <span class="list-attr attr-weight short"></span>
                <span class="list-edit hidden"><input class="short attr-weight" type="text" name="weight" value=""></span>
                <span class="list-attr attr-waist short"></span>
                <span class="list-edit hidden"><input class="short attr-waist" type="text" name="waist" value=""></span>

                <span class="list-ctrl show">
                    <div class="edit-meas-control">Edit</div>
                </span>
                <span class="list-ctrl show">
                    <div class="delete-meas-control">Delete</div>
                </span>
                <span class="list-ctrl edit hidden">
                    <div class="save-meas-control">Save</div>
                </span>
                <span class="list-ctrl edit hidden">
                    <div class="cancel-meas-control">Cancel</div>
                </span>
            </div>
        </div>
    </div>
</div>