<form id="lifestyle-form">
    <input id="lifestyle-form-userid" name="user_id" value="<%= @user.id %>" type="hidden">
    <!--<input id="activity-form-source" name="activity[source]" value="smartsport" type="hidden">-->
    <input id="lifestyle-form-source" name="lifestyle[source]" value="smartsport" type="hidden">
    <!--<input id="current-activity-data" type="hidden"/>-->
    <input id="current-lifestyle-data" type="hidden"/>
    <div class="logform clearfix hidden" id="lifestyle-form-div">
        <fieldset>

            <div id="action-table" class="action-list">
                <% for curr in ['coffee', 'eat', 'drink', 'cigarette'] %>
                    <%= render partial: 'lifestyle_action_item', locals: {:curr => curr} %>
                <% end %>
            </div>

            <div id="lifestyle-container">

                <!-- coffee  -->
                <div class="field-temp coffee-ui hidden">
                    <h3>Coffee</h3>
                </div>
                <input id="coffee-id" name="lifestyle[id]" type="hidden" class="coffee-param">
                <div class="field field-temp coffee-ui hidden">
                    <label for="coffee-start_time">Time</label>
                    <span class="entry">
                        <input id="coffee-start_time" name="lifestyle[start_time]" class="date-input coffee-param">
                    </span>
                </div>

                <!-- eat  -->
                <div class="field-temp eat-ui hidden">
                    <h3>Eat</h3>
                </div>
                <input id="eat-id" name="lifestyle[id]" type="hidden" class="eat-param">
                <div class="field field-temp eat-ui hidden">
                    <label for="eat-start_time">Time</label>
                    <span class="entry">
                        <input id="eat-start_time" name="lifestyle[start_time]" class="date-input eat-param">
                    </span>
                </div>

                <!-- cigarette  -->
                <div class="field-temp cigarette-ui hidden">
                    <h3>Cigarette</h3>
                </div>
                <input id="cigarette-id" name="lifestyle[id]" type="hidden" class="cigarette-param">
                <div class="field field-temp cigarette-ui hidden">
                    <label for="cigarette-start_time">Time</label>
                    <span class="entry">
                        <input id="cigarette-start_time" name="lifestyle[start_time]" class="date-input cigarette-param">
                    </span>
                </div>

                <!--<div class="life-edit-controls field-temp hidden">-->
                    <!--<span id="save-lifestyle-button" class="edit-control">Save</span>-->
                    <!--<span id="cancel-lifestyle-button" class="delete-control">Cancel</span>-->
                <!--</div>-->

                <!--<div id="life-message" class="act-message action-list">-->
                    <!--<div id="life-message-item" class="action-item hidden">-->
                        <!--<i class="fa fa-check success"></i>-->
                        <!--<span></span>-->
                            <!--<span class="edit-control-holder">-->
                                <!--<div class="edit-control">Edit</div>-->
                            <!--</span>-->
                            <!--<span class="delete-control-holder">-->
                                <!--<div class="delete-control">Delete</div>-->
                            <!--</span>-->
                    <!--</div>-->
                    <!--<div id="life-message-failed" class="action-item hidden">-->
                        <!--Failed-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div id="lifestyle-table" class="list-container">
                <div class="list-item">
                    <span class="list-header"></span>
                    <span class="list-header">Time</span>
                    <span class="list-header">Type</span>
                    <span class="list-header">Amount</span>
                    <span class="list-header"></span>
                    <span class="list-header"></span>
                </div>
                <!--place of rows-->
                <div id="life-iid" class="list-item measure-item">
                    <i class="fa fa-check success"></i>
                    <span class="list-attr attr-date long">2015-02-11 09:35</span>
                    <span class="list-edit hidden"><input class="long attr-date" type="text" name="date" value="2015-02-11 09:35"></span>
                    <span class="list-attr attr-bp medium">eat</span>

                    <span class="list-attr attr-bp medium">123</span>
                    <span class="list-edit hidden"><input class="medium attr-bp" type="text" name="heart" value="123"></span>

                    <span class="list-ctrl show">
                        <div class="edit-meas-control">Edit</div>
                    </span>
                    <span class="list-ctrl show">
                        <div class="delete-meas-control">Delete</div>
                    </span>
                </div>
            </div>

            <div id="lifestyle-row-template" class="hidden">
                <div id="meas-iid" class="list-item measure-item">
                    <i class="fa fa-check success"></i>
                    <span class="list-attr attr-date long">2015-02-11 09:35</span>
                    <span class="list-edit hidden"><input class="long attr-date" type="text" name="date" value="2015-02-11 09:35"></span>
                    <span class="list-attr attr-bp medium">123/66/45</span>
                </div>
            </div>
        </fieldset>
    </div>
</form>
