<div class="app2Menu">
  <div class="inner ">
    <div class="menuitem mdProfile">
      <a id="patients-link" class="menulink menulink-selected" href="#">
        <%= t 'menu_patients' %>
      </a>
    </div>
    <div class="menuitem c0 myprofile">
      <a id="forms-link" class="menulink" href="#">
        <%=t 'menu_forms' %>
      </a>
    </div>
  </div>
</div>
