<div>
    <div class="logform clearfix hidden" id="medication-data">
        <form id="medication-form">
            <div id="medication-data-form" class="list-container">
                <div class="list-item">
                    <span class="list-attr">Medication</span>
                    <i class="fa fa-medkit header-icon fa-lg"></i>
                    <span class="list-attr label">Name</span>
                    <span class="list-attr"><input class="entry-normal" type="text" name="name" value=""></span>
                    <span class="list-attr label">Amount</span>
                    <span class="list-attr"><input class="entry-mini-half" type="text" name="amount" value=""></span>
                    <i id="eat-lifestyle-add" class="fa fa-plus-circle fa-2x text-green add-icon"></i>
                </div>
            </div>
        </form>

        <div id="medication-data-table" class="list-container recent-records-table">
            <div class="list-item">
                <span class="list-header"></span>
                <span class="list-header">Time</span>
                <span class="list-header">Name</span>
                <span class="list-header">Amount</span>
                <span class="list-header"></span>
                <span class="list-header"></span>
            </div>
            <!--place of rows-->
        </div>

        <div class="hidden row-template">
            <div id="med-iid1" class="list-item row-item">
                <i class="fa fa-check success"></i>
                <span class="list-attr attr-date long">2015-02-11 09:35</span>
                <span class="list-edit hidden"><input class="long attr-date" type="text" name="date" value="2015-02-11 09:35"></span>
                <span class="list-attr attr-name medium">Kalmopyrin 50mg</span>
                <span class="list-edit hidden"><input class="medium attr-name" type="text" name="name" value="123"></span>
                <span class="list-attr attr-amount medium">1</span>
                <span class="list-edit hidden"><input class="medium attr-amount" type="text" name="amount" value="123"></span>

                <span class="list-ctrl show">
                    <div class="edit-control">Edit</div>
                </span>
                <span class="list-ctrl show">
                    <div class="delete-control">Delete</div>
                </span>
                <span class="list-ctrl edit hidden">
                    <div class="save-control">Save</div>
                </span>
                <span class="list-ctrl edit hidden">
                    <div class="cancel-control">Cancel</div>
                </span>
            </div>
        </div>
    </div>
</div>
