<div class="app2Menu">
  <div class="inner ">
    <div class="menuitem c0  b0">
      <a id="dashboard-link" class="menulink" href="#">
        Dashboard
      </a>
    </div>
    <div class="menuitem c1 b1">
      <a id="diet-link" class="menulink" href="#">
        Diet
      </a>
    </div>
    <div class="menuitem c2 b2">
      <a id="exercise-link" class="menulink" href="#">
        Exercise
      </a>
    </div>
    <div class="menuitem c3 b3">
      <a id="health-link" class="menulink selected" href="#">
        Health
      </a>
    </div>
    <div class="menuitem c5 b5">
      <a id="medication-link" class="menulink" href="#">
        Medication
      </a>
    </div>
    <div class="menuitem c4 b4">
      <a id="wellbeing-link" class="menulink" href="#">
        Well-Being
      </a>
    </div>
    <div class="menuitem c6 b6">
      <a id="genetics-link" class="menulink" href="#">
        Genetics
      </a>
    </div>
    <div class="menuitem c7 b7">
      <a id="labresults-link" class="menulink" href="#">
        Lab Results
      </a>
    </div>
    <div class="menuitem c8 b8">
      <a id="analytics-link" class="menulink" href="#">
        Analytics
      </a>
    </div>
    <div style="float: right;width: 50px;">

    </div>
    <div style="clear: both;"></div>

  </div>
</div>