<div class="boxed-group">
    <h3><img src="<%= asset_path('moves-logo-206x206.png')%>" width="16px" height="16px"> Moves daily</h3>
    <div class="boxed-group-inner clearfix">
        <div class="meas-col">
            <div class="meas-block">
                <div class="meas-val">
                    1234
                </div>
                <div class="meas-annot">
                    Steps Walking
                </div>
            </div>
            <div class="meas-block">
                <div class="meas-val">
                    12
                </div>
                <div class="meas-annot">
                    Km Cycling
                </div>
            </div>
            <div class="meas-block">
                <div class="meas-val">
                    6
                </div>
                <div class="meas-annot">
                    Km Running
                </div>
            </div>
        </div>

        <div class="meas-col meas-center">
            <div class="meas-val">
                10%
            </div>
            <div class="meas-annot">
                of weekly average
            </div>
        </div>

        <div class="meas-col">
            <div class="meas-block">
                <div class="meas-val">1234</div>
                <div class="meas-annot">Steps</div>
            </div>
            <div class="meas-block">
                <div class="meas-val">12 km</div>
                <div class="meas-annot">distance</div>
            </div>
            <div class="meas-block">
                <div class="meas-val meas-small">1h 6min</div>
                <div class="meas-annot">activity</div>
            </div>
        </div>
    </div>
</div>