<div class="boxed-group">
    <h3><img src="<%= asset_path('moves-logo-206x206.png')%>" width="16px" height="16px"> Activity
        <div class="right">
            <span class="minibutton right">Today</span>
            <span class="minibutton right">Weekly</span>
        </div>
    </h3>

    <div class="boxed-group-inner clearfix">
        <div class="chart-nav">
            <div class="nav-arrow-left arrow" id="moves-left-arrow"><i class="fa fa-chevron-left"></i></div>
            <div class="nav-arrow-centered" id="moves-chart-date">2014-10-11</div>
            <div class="nav-arrow-right arrow" id="moves-right-arrow"><i class="fa fa-chevron-right"></i></div>
        </div>
        <div class="meas-col">
            <div class="meas-block">
                <div id="steps-walked-daily" class="meas-val">
                    1234
                </div>
                <div class="meas-annot">
                    Steps Walking
                </div>
            </div>
            <div class="meas-block">
                <div id="km-cycling-daily" class="meas-val">
                    12
                </div>
                <div class="meas-annot">
                    Km Cycling
                </div>
            </div>
            <div class="meas-block">
                <div id="km-running-daily" class="meas-val">
                    6
                </div>
                <div class="meas-annot">
                    Km Running
                </div>
            </div>
        </div>

        <div class="meas-col meas-center">
            <div class="meas-val">
                10%
            </div>
            <div class="meas-annot">
                of weekly average
            </div>
        </div>

        <div class="meas-col">
            <div class="meas-block">
                <div id="calories-daily" class="meas-val">1234</div>
                <div class="meas-annot">Calories</div>
            </div>
            <div class="meas-block">
                <div id="distance-daily" class="meas-val">12 km</div>
                <div class="meas-annot">distance</div>
            </div>
            <div class="meas-block">
                <div id="duration-daily" class="meas-val meas-small">1h 6min</div>
                <div class="meas-annot">activity</div>
            </div>
        </div>
    </div>

    <div id="moves-chart" class="boxed-group-inner chart"></div>
</div>