<section class="patientSelect">
  <ul class="patientControl">
    <li class="patientSelect">
        <i class="fa fa-user fa-fw patientColor"></i>
        <input type="search" name="patient_name" class="patientName" placeholder="<%=t :select_patient_placeholder%>" disabled>
        <input class="patientId" name="patientId" type="hidden">
    </li>
    <li class="patientSelect">
      <%= image_tag "unknown.jpeg", id: "headerItemAvatar", class: "patientItemAvatar" %>
    </li>
  </ul>
  <div class="titleInput right">
  </div>
</section>
