<div class="app2Menu">
  <div class="inner ">
    <div id="dashboard-link" class="menuitem c0 b0 dashboard">
      <a class="menulink" href="#">
        Dashboard
      </a>
    </div>
    <div class="menuitem c0 myprofile">
      <a class="menulink" href="#">
        My profile
      </a>
    </div>
    <div class="menuitem c0 moves">
      <a class="menulink" href="#">
        Moves
      </a>
    </div>
    <div class="menuitem c0 fitbit">
      <a class="menulink" href="#">
        Fitbit
      </a>
    </div>
    <div class="menuitem c0 misfit">
      <a class="menulink" href="#">
        Misfit
      </a>
    </div>
    <div class="menuitem c0 googlefit">
      <a class="menulink" style="background: RGBA(143, 188, 227, 0.3);" href="#">
        Google Fit
      </a>
    </div>

    <div style="float: right;width: 50px;">

    </div>
    <div style="clear: both;"></div>

  </div>
</div>270905