<div class="app2Menu">
  <div class="inner ">
    <div id="dashboard-link" class="menuitem c0 b0 dashboard">
      <a class="menulink" href="<%= url_for( :action => 'dashboard') %>">
        <%=t 'menu_dashboard' %>
      </a>
    </div>
    <div class="menuitem c0 myprofile">
      <a id="myprofile-link" class="menulink menulink-selected" href="#">
        <%=t 'menu_profile' %>
      </a>
    </div>
    <div class="menuitem c0 moves">
      <a id="moves-link" class="menulink" href="#">
        Moves
      </a>
    </div>
    <div class="menuitem c0 withings">
      <a id="withings-link" class="menulink" href="#">
        Withings
      </a>
    </div>
    <div class="menuitem c0 fitbit">
      <a id="fitbit-link" class="menulink" href="#">
        Fitbit
      </a>
    </div>
    <div class="menuitem c0 misfit">
      <a id="misfit-link" class="menulink" href="#">
        Misfit
      </a>
    </div>
    <div class="menuitem c0 googlefit">
      <a id="googlefit-link" class="menulink" href="#">
        Google Fit
      </a>
    </div>
    <% if current_user.admin %>
        <div class="menuitem c0 admin">
          <a id="admin-link" class="menulink" href="#">
            Admin
          </a>
        </div>
    <%end%>

    <div style="float: right;width: 50px;">

    </div>
    <div style="clear: both;"></div>

  </div>
</div>