<div class="analytics-block mainContent" id="analytics-container">
  <div class="sectionTitle analiticsBodyLogo analyticsColor">
    <%=t 'analytics' %>
  </div>
  <div class="contentBg ">
  </div>

  <div class="columns">

    <div   class="boxed-group connection-block">
    <script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"> </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>

      <h3 class="noClickSelect">
        <img src="<%= asset_path( "logo-login.png")%>" width="24px" height="24px" class="left">
        <div class="training-type left">Daily timeline</div>
        <div class="selected-meas legend-container right"></div>
      </h3>

      <div id="timeline" class="boxed-group-inner chart bloodpressure-chart">
      </div>
    </div>
  </div>

</div>

<script>
    pages_menu();
    analytics2_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t 'analytics' %> | SmartDiab
<% end %>
