<% content_for :title, "SmartSport" %>

<div class="dashboard-block" id="training-container">
    <div class="columns">

        <div class="column">

            <div id="dashboard-summary-container" class="boxed-group connection-block">
                <%= render partial: 'summary_chart' %>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    dashboard_loaded();
</script>