<% content_for :title, "SmartSport" %>

<div class="dashboard-block" id="training-container">
    <!--<div class="columns">-->

        <!--<div class="column">-->


                <%= render partial: 'summary_chart' %>


        <!--</div>-->
    <!--</div>-->
</div>

<script type="text/javascript">
    dashboard_loaded();
</script>