<% content_for :main_content do %>
    <div role="main" class="ui-content">
    </div><!-- /content -->
<% end %>

<% content_for :page_logic do %>
    dashboard_loaded()
<% end %>

<% content_for :header_text do %>
    Dashboard
<% end %>
<% content_for :back_link do %>/pages/dashboard<% end %>
<% content_for :title_text do %>
    Dashboard | SmartDiab
<% end %>
