<div class="sensors-block mainContent" id="sensors-container">
  <div class="sectionTitle sensorBodyLogo sensorColor">
    Sensor Data
  </div>

    <div class="columns">

      <div class="column one-third sensorTable">

        <table class="historyTable" cellpadding="0" cellspacing="0">
          <tbody id="sensorDataTable">

          <%= render partial: 'shared/sensor_item', collection: @sensor_measurements, as: :sensor_measurement %>

          </tbody>
        </table>

      </div>

      <div id="sensordata-container" class="column two-thirds boxed-group">

          <h3 class="noClickSelect">
            <img src="<%= asset_path( "logo-login.png")%>" width="24px" height="24px" class="left">
            <div id="sensor-data-group" class="training-type left">Sleep Data</div>
            <div class="selected-meas left"></div>
            <div class="selected-meas legend-container right"></div>
          </h3>

          <div class="boxed-group-inner chart sensordata-chart">
            <svg class="sensordata-chart-svg">
            </svg>
          </div>
        </div>

    </div>


</div>

<script>
    pages_menu();
    explore_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
