<div id="sectionFitbit" class="menu-section">
  <%= render "fitbit" %>
</div>

<% content_for :menu do %>
    <%= render "settingsmenu" %>
<% end %>
<% content_for :mobile_menu do %>
    <%= render "mobile_settingsmenu" %>
<% end %>
<script type="text/javascript">
    fitbit_loaded();
</script>

