<div id="sectionGooglefit" class="menu-section">
  <%= render "googlefit" %>
</div>

<% content_for :menu do %>
    <%= render "settingsmenu" %>
<% end %>
<script type="text/javascript">
    googlefit_loaded();
</script>

