<div class="health-block">
    <div class="columns">
        <div id="heart-trend-container" class="boxed-group connection-block">
            <h3>
                <img src="<%= asset_path( "withings-logo.png")%>" width="24px" height="24px" class="left">
                <div class="training-type left">Heart trend</div>
                <div class="selected-meas left"></div>
            </h3>

            <div class="boxed-group-inner chart bloodpressure-chart">
                <svg class="heart-trend-chart-svg">
                </svg>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column one-half">
            <div id="bloodpressure-container" class="boxed-group connection-block">
                <h3>
                    <img src="<%= asset_path( "withings-logo.png")%>" width="24px" height="24px" class="left">
                    <div class="training-type left">Blood pressure SYS/DIA (mmHg)</div>
                    <div class="selected-meas left"></div>
                </h3>

                <div class="boxed-group-inner chart bloodpressure-chart">
                    <svg class="bloodpressure-chart-svg">
                    </svg>
                </div>
            </div>
            <div id="spo2-container" class="boxed-group connection-block">
                <h3>
                    <img src="<%= asset_path( "withings-logo.png")%>" width="24px" height="24px" class="left">
                    <div class="training-type left">Oxymetry (spo2%)</div>
                </h3>

                <div class="boxed-group-inner chart spo2-chart">
                    <svg class="spo2-chart-svg">
                    </svg>
                </div>
            </div>
        </div>
        <div class="column one-half">
            <div id="heartrate-container" class="boxed-group connection-block">
                <h3>
                    <img src="<%= asset_path( "withings-logo.png")%>" width="24px" height="24px" class="left">
                    <div class="training-type left">Heart rate (bpm)</div>
                    <div class="selected-meas left"></div>
                </h3>

                <div class="boxed-group-inner chart bloodpressure-chart">
                    <svg class="heartrate-chart-svg">
                    </svg>
                </div>
            </div>

        </div>
    </div>


</div>

<script type="text/javascript">
    health_loaded();
</script>