<div id='chart-div' ></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<style>
    .axis path{
        fill:none;
        stroke: #c0c0c0;
    }
    .axis {
        font-size:8pt;
        font-family:sans-serif;
    }
    .axis text {
        font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #666;
        cursor: default;
        line-height: 14px;
        fill: #666;
    }
    .tick {
        font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #666;
        cursor: default;
        line-height: 14px;
        fill: #666;
    }
    circle {
        fill: rgb(47, 181, 233)
    }
</style>
<script>
    var create_lines = function(r) {
      var start = r[0]-r[0]%5;
      var end = r[1]-r[1]%5;
      var i = start;
      var ret = [];
      console.log(start);
      while(i <= end) {
          var col = '#e0e0e0';
          if(i%25==0) {
              col = '#c0c0c0';
          }
          ret.push({x: i, color: col});
          i += 5;
      }
      console.log("end jo");
      return(ret)
    };
    var data = [
        { date: "2014-10-16 9:11 AM", rate: 69, sp: 131, dp: 79 },
        { date: "2014-10-15 2:43 PM", rate: 94, sp: 122, dp: 74 },
        { date: "2014-10-15 12:59 PM",rate: 95, sp: 118, dp: 70},
        { date: "2014-10-15 10:04 AM",rate: 65, sp: 127, dp: 78},
        { date: "2014-10-15 8:42 AM", rate: 79, sp: 122, dp: 73 },
        { date: "2014-10-14 6:28 PM", rate: 76, sp: 148, dp: 86 },
        { date: "2014-10-14 2:37 PM", rate: 104,sp: 125, dp: 79},
        { date: "2014-10-14 1:00 PM", rate: 83, sp: 125, dp: 76 },
        { date: "2014-10-14 10:51 AM",rate: 70, sp: 126, dp: 77},
        { date: "2014-10-14 10:48 AM",rate: 60, sp: 120, dp: 80}
    ];

    var format = d3.time.format("%Y-%m-%d %I:%M %p");
    var margin = 50, width = 700, height = 300;
    console.log("megjo");
    var d3div = $("#chart-div")[0];
    console.log(d3div);

    d3.select(d3div) .append("svg")
            .attr("width", width)
            .attr("height", height);

    var time_extent = d3.extent( data,
            function(d){return format.parse(d.date)} );
    console.log(time_extent);
    t1 = time_extent[0]
    t1.setTime(t1.getTime() - (1*60*60*1000));
    t2 = time_extent[1]
    t2.setTime(t2.getTime() + (1*60*60*1000));
    console.log(time_extent);

    var time_scale = d3.time.scale() .domain(time_extent) .range([margin, width]);

    var y_extent = d3.extent(data, function(d){return d.rate});
    y_extent[0] = Math.min(y_extent[0], 50);
    y_extent[1] = Math.max(y_extent[1], 150);
    var y_scale = d3.scale.linear() .range([height-margin, margin]) .domain(y_extent);
    console.log(time_extent);
    console.log(y_extent);



    var ldata = create_lines(y_extent);

    d3.select("svg").selectAll("line").data(ldata).enter().append("svg:line").
            attr("x1", function(d) {return time_scale(time_extent[0]);}).
            attr("y1", function(d) {return y_scale(d.x);}).
            attr("x2", function(d) {return time_scale(time_extent[1]);}).
            attr("y2", function(d) {return y_scale(d.x);}).
            attr("stroke", function(d) {return d.color;}).
            attr("stroke-width", 1).
            attr("opacity", 1);

    var time_axis = d3.svg.axis().scale(time_scale);
    d3.select("svg") .append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + (height-margin) + ")").attr("stroke-width", "0") .call(time_axis);

    var y_axis = d3.svg.axis().scale(y_scale).orient("left");
    d3.select("svg") .append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(" + margin + ", 0 )").attr("stroke-width", "0") .call(y_axis);

    d3.select(".x.axis") .append("text")
            .text("Date of measurement") .attr("x", (width / 2) - margin)
            .attr("y", margin / 1.5);
    d3.select(".y.axis") .append("text")
            .text("Heart rate") .attr("transform", "rotate (-90, -43, 0) translate(-280)");

    d3.select("svg").selectAll("circle") .data(data)
            .enter() .append("circle");

//    draw the dots
    d3.selectAll("circle")
            .attr("cx", function(d){return time_scale(format.parse(d.date))}) .attr("cy", function(d){return y_scale(d.rate)});
    d3.selectAll("circle") .attr("r", 5);

</script>