<div class="health-block">
    <input type="hidden" id="current_user_id" value="<%=@current_user.id%>">
    <div id='chart-div' ></div>
</div>

<script type="text/javascript">
    health_loaded();
</script>