<% content_for :title, "SmartSports" %>

<script type="text/javascript">
    dashboard_loaded();
</script>

<div class="dashboard-block" id="training-container">
    <div class="columns">
        <div class="column one-half">
            <span>abc</span>
        </div>
        <div class="column one-half">
            <div class="boxed-group">
                <div class="toolbox">
                    <div class="toolbox-inner">
                        <div id="activity-form" class="activity-form hidden">
                            <%= render 'activities/activity_form'  %>
                        </div>
                        <div id="measurement-form" class="measurement-form hidden">
                            <%= render 'measurements/measurement_form'  %>
                        </div>
                    </div>

                    <div class="toolbox-control">
                        <div class="toolbox-item">
                            <div class="toolbox-item-icon">
                                <i class="fa fa-5x fa-tachometer test"></i>
                            </div>

                            <div class="toolbox-item-link">
                                <button id="new-activity-form-button" class="button primary">Create Activity</button>
                            </div>
                        </div>

                        <div class="toolbox-item">
                            <div class="toolbox-item-icon">
                                <i class="fa fa-5x fa-heart test"></i>
                            </div>

                            <div class="toolbox-item-link">
                                <button id="new-measurement-form-button" class="button primary">Create Measurement</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
