<%= render "patient_select" %>

<div id="sectionPatients" class="menu-section">
  <%= render "patients" %>
</div>

<% content_for :menu do %>
    <%= render "mdmenu" %>
<% end %>

<script type="text/javascript">
    mdPatientsLoaded();
</script>