<div id="sectionProfile" class="menu-section">
  <%= render "profile" %>
</div>

<% content_for :menu do %>
    <%= render "settingsmenu" %>
<% end %>
<script type="text/javascript">
    profile_loaded();
</script>

<% content_for :title_text do %>
    <%=t :top_title %>
<% end %>
