<div class="training-block">
    <input type="hidden" id="current_user_id" value="<%=@uid%>">
    <div class="columns">
        <div class="column one-half">
            <%= render 'moves_daily' %>

        </div>

        <div class="column one-half">
            <%= render 'moves_weekly' %>
        </div>
    </div>
    <!--<div class="boxed-group">-->
        <!--<h3>Moves monthly <span class="detail" id="training-detail"></span></h3>-->



        <!--</div>-->
    <!--</div>-->
</div>

<script type="text/javascript">
    training_loaded();
</script>