<div class="training-block" id="training-container">

    <div class="columns">
        <div class="column one-half">
            <% if @conn.size > 0 %>
                <% for i in (0..@conn.size-1).select {|it| it%2==0} %>
                    <%= render partial: 'activity_chart', locals: { :connection_name => @conn[i].name} %>
                <% end %>
            <% end %>
        </div>

        <div class="column one-half">
            <% if @conn.size > 1 %>
                <% for i in (1..@conn.size-1).select {|it| it%2==1} %>
                    <%= render partial: 'activity_chart', locals: { :connection_name => @conn[i].name} %>
                <% end %>
            <% end %>
        </div>
    </div>
    <!--<div class="boxed-group">-->
        <!--<h3>Moves monthly <span class="detail" id="training-detail"></span></h3>-->



        <!--</div>-->
    <!--</div>-->
</div>

<script type="text/javascript">
    training_loaded();
</script>