
<div data-role="page" id="dashboardPage" >

  <div data-role="header" id="diet-header">
    <h1>Dashboard</h1>
    <a href="#menuPanel" data-icon="carat-r" data-iconpos="notext" data-shadow="false" data-iconshadow="false" >Open left panel</a>
    <!--<a href="#settingsPage" data-icon="gear" data-iconpos="notext">Settings</a>-->
  </div><!-- /header -->


  <div role="main" class="ui-content">
    <p>TODO</p>
  </div>
</div>
