<div class="dataForm">
  <input type="hidden" name="diet[source]" value="<%= @default_source %>">
  <input type="hidden" name="diet[diet_type]" value="Drink">

  <input id="drinkname" type="search" name="drink_name" class="dataFormField" placeholder="<%=t 'drink_placeholder' %>" disabled>
  <input id="diet_drink_name" name="diet[name]" type="hidden">
  <input id="diet_drink_type_id" name="diet[food_type_id]" type="hidden">

  <div class="dataScale">
    <div id="diet_drink_scale" name="diet_drink_scale" class="dataFormField"></div>
  </div>

  <input id="diet_drink_amount" name="diet[amount]" type="hidden">
  <div id="diet_drink_unit" class="dataFormFieldUnit">2dl</div>

  <input id='diet_drink_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <br/>
</div>
