<div class="dataForm diet_quick_calories diet <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="diet[source]" value="<%= @default_source %>">
  <input class="diet_calory_type" name="diet[name]" value="calory" type="hidden">

  <input id="diet_calories" type="text" name="diet[calories]" class="dataFormField" placeholder="<%=t 'quick_calories_placeholder' %>"/>
  <div class="dataFormFieldUnit">kCal</div>
  <br>
  <input id="diet_carbs" type="text" name="diet[carbs]" class="dataFormField" placeholder="<%=t 'quick_carbs_placeholder' %>"/>
  <div class="dataFormFieldUnit">g</div>
  <br>

  <input type="text" class="dataFormField diet_calories_datepicker" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <br/>

</div>
