<div class="dataForm diet_smoke <% if local_assigns.fetch(:locals, {})[:defaultHidden]%>hidden<% end %>">
  <input type="hidden" name="diet[source]" value="<%= @default_source %>">

  <select name="diet[name]" class="dataFormField diet_smoke_name" readonly="true"></select>

  <input type='text' class="dataFormField diet_smoking_datepicker" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <br/>

</div>