<div class="dataForm diet_drink diet <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="diet[source]" value="<%= @default_source %>">
  <input type="hidden" name="diet[diet_type]" value="Drink">

  <input type="search" name="diet[name]" class="dataFormField diet_drink_name" placeholder="<%=t 'drink_placeholder' %>" disabled>

  <input name="diet[food_type_name]" class="diet_drink_type_id" type="hidden">

  <div class="dataScale">
    <div class="dataFormField diet_drink_scale"></div>
  </div>

  <input class="diet_drink_amount" name="diet[amount]" type="hidden">
  <div class="dataFormFieldUnit diet_drink_unit">2dl</div>

  <input type="text" class="dataFormField diet_drink_datepicker" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <br/>
</div>
