<div class="dataForm diet_food diet <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="diet[source]" value="<%= @default_source %>">

  <select name="diet[name]" class="dataFormField diet_food_name" readonly="true"></select>

  <div class="dataScale">
    <div class="dataFormField diet_food_scale"></div>
  </div>

  <input class="diet_food_amount" name="diet[amount]" type="hidden">
  <div class="dataFormFieldUnitDiet diet_food_unit"><%=t 'stress_amount_average' %></div>

  <input type='text' class="dataFormField diet_food_datepicker" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <br/>
</div>
