<div class="dataForm diet_food diet <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="diet[source]" value="<%= @default_source %>">
  <input type="hidden" name="diet[diet_type]" value="Food">

  <input type="search" name="diet[name]" class="dataFormField diet_food_name" placeholder="<%=t 'food_placeholer' %>" disabled>
  <input class="diet_type_id" name="diet[food_type_name]" type="hidden">

  <div class="dataScale">
    <div class="dataFormField diet_food_scale"></div>
  </div>

  <input class="diet_food_amount" name="diet[amount]" type="hidden">
  <div class="dataFormFieldUnit diet_food_unit"><%=t 'stress_amount_average' %></div>

  <input type='text' class="dataFormField diet_food_datepicker" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <br/>
</div>
