<div class="dataForm genetics_family_history <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="family_record[source]" value="<%= @default_source %>">

  <select name="family_record[relative_key]" class="dataFormField rel_type_name" readonly="true"></select>

  <select name="family_record[diabetes_key]" class="dataFormField diab_type_name" readonly="true"></select>

  <textarea id="family_hist_note" type="text" name="family_record[note]" rows="5" class="dataFormArea" placeholder="<%= t 'genetics_history' %>"></textarea>
</div>
