<div class="dataForm genetics_family_history <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="genetics[source]" value="<%= @default_source %>">
  <input type="hidden" name="genetics[group]" value="family_history">

  <input id="gen_hist_relative" type="search" name="genetics[relative]" class="dataFormField rel_type_name" placeholder="<%= t 'relative' %>" disabled/>
  <input class="rel_type_id" name="genetics[relative_type_id]" type="hidden">

  <input id="gen_hist_diabetes" type="search" name="genetics[diabetes]" class="dataFormField diab_type_name" placeholder="<%= t 'diabetes' %>" disabled/>
  <input class="diab_type_id" name="genetics[diabetes_type_id]" type="hidden">

  <textarea id="family_hist_note" type="text" name="genetics[note]" rows="5" class="dataFormArea" placeholder="<%= t 'genetics_history' %>"></textarea>
</div>
