<div class="dataForm labresult_ldlchol <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="labresult[source]" value="<%= @default_source %>">
  <input type="hidden" name="labresult[category]" value="ldl_chol" />

  <input type="text" class="ldl_chol dataFormField" name="labresult[ldl_chol]" placeholder="LDL-chol"/>

  <div class="dataFormFieldUnitNarrow">mmol/L</div>
  <br>

  <input type='text' class="ldl_chol_datepicker dataFormField" name="labresult[date]" value="<%= DateTime.current.strftime("%F") %>"/>
  <br>
</div>
