<div class="dataForm labresult_ketone <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="labresult[source]" value="<%= @default_source %>">
  <input type="hidden" name="labresult[category]" value="ketone" />

  <input type="search" class="ketone dataFormField" placeholder="Ketone">
  <input type="hidden" name="labresult[ketone]" >

  <div class="dataFormFieldUnitNarrow"></div>
  <br>

  <input type='text' class="ketone_datepicker dataFormField" name="labresult[date]" value="<%= DateTime.current.strftime("%F") %>"/>
  <br>
</div>
