<div class="dataForm labresult_ketone <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="labresult[source]" value="<%= @default_source %>">
  <input type="hidden" name="labresult[category]" value="ketone" />

  <input type="search" class="ketone_name dataFormField" name="labresult[ketone]" placeholder="<%=t 'labresult_ketone' %>">
  <input class="ketone_type_id" name="labresult[labresult_type_name]" type="hidden">

  <div class="dataFormFieldUnitNarrow"></div>
  <br>

  <input type='text' class="ketone_datepicker dataFormField" name="labresult[date]" value="<%= DateTime.current.strftime("%F") %>"/>
  <br>
</div>
