<div class="dataForm labresult_egfrepi <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="labresult[source]" value="<%= @default_source %>">
  <input type="hidden" name="labresult[category]" value="egfr_epi" />

  <input type="number" step="0.1" class="egfr_epi dataFormField" name="labresult[egfr_epi]" placeholder="eGFR-EPI"/>

  <div class="dataFormFieldUnit egfr">ml/min/1.73m<sup>2</sup></div>
  <br>

  <input type='text' class="egfr_epi_datepicker dataFormField" name="labresult[date]" value="<%= DateTime.current.strftime("%F") %>"/>
  <br>
</div>
