<div class="dataForm labresult_hba1c <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="labresult[source]" value="<%= @default_source %>" />
  <input type="hidden" name="labresult[category]" value="hba1c" />

  <input type="number" step="0.1" name="labresult[hba1c]" class="hba1c dataFormField" placeholder="HbA1c"/>

  <div class="dataFormFieldUnitNarrow">%</div>
  <br>

  <input type='text' class="hba1c_datepicker dataFormField" name="labresult[date]" value="<%= Date.current.strftime("%F") %>"/>
  <br>

</div>
