<div class="dataForm health_weight <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="measurement[source]" value="<%= @default_source %>">
  <input type="hidden" name="measurement[meas_type]" value="weight" />

  <input id="weight" type="number" name="measurement[weight]" class="dataFormField"  placeholder="<%=t 'weight_placeholder' %>"/>

  <div class="dataFormFieldUnit">kg</div>
  <br>

  <input id='weight_datepicker' type='text' class="dataFormField defaultDatePicker" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <br>
</div>
