<div class="dataForm health_waist <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="measurement[source]" value="<%= @default_source %>">
  <input type="hidden" name="measurement[meas_type]" value="waist" />

  <input id="waist" type="number" name="measurement[waist]" class="dataFormField" placeholder="<%=t 'waist_placeholder' %>"/>

  <div class="dataFormFieldUnit">cm</div>
  <br>

  <input id='waist_datepicker' type='text' class="dataFormField defaultDatePicker" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <br>
</div>
