<div class="dataForm notification_visit <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">

  <select id="control_txt" name="notification[title]" class="dataFormField" readonly="true"></select>
  <input id="nType" type="hidden" name="notification[notification_type]" >

  <textarea class="dataFormTextArea notification_details" name="notification[detail]" placeholder="<%=t 'lifestyle_details'%>"></textarea>
  <div class="dataFormAreaUnit"></div>

  <input id='controll_datepicker' type='text' class="dataFormField" name="notification[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <div class="dataFormFieldUnitNarrow"></div>

</div>
