.iconselect_img_add {
  background: url("/assets/custom/img_add_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_addForm {
  background: url("/assets/custom/img_addForm_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_bp {
  background: url("/assets/custom/img_bp_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_bloodSugar {
  background: url("/assets/custom/img_bloodSugar_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_calories {
  background: url("/assets/custom/img_calories_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_cycling {
  background: url("/assets/custom/img_cycling_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_diet {
  background: url("/assets/custom/img_diet_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_docsvisit {
  background: url("/assets/custom/img_docsvisit_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_drink {
  background: url("/assets/custom/img_drink_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_egfr {
  background: url("/assets/custom/img_egfr_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_familyHistory {
  background: url("/assets/custom/img_familyHistory_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_food {
  background: url("/assets/custom/img_food_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_hba1c {
  background: url("/assets/custom/img_hba1c_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_healthForm {
  background: url("/assets/custom/img_healthForm_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_illness {
  background: url("/assets/custom/img_illness_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_insulin {
  background: url("/assets/custom/img_insulin_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_ketone {
  background: url("/assets/custom/img_ketone_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_labResults {
  background: url("/assets/custom/img_labResults_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_ldlchol {
  background: url("/assets/custom/img_ldlchol_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_logout {
  background: url("/assets/custom/img_logout_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_medication {
  background: url("/assets/custom/img_medication_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_medicine {
  background: url("/assets/custom/img_medicine_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_menuMore {
  background: url("/assets/custom/img_menuMore_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_myForms {
  background: url("/assets/custom/img_myForms_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_new {
  background: url("/assets/custom/img_new_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_notification {
  background: url("/assets/custom/img_notification_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_pain {
  background: url("/assets/custom/img_pain_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_period {
  background: url("/assets/custom/img_period_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_pulse {
  background: url("/assets/custom/img_pulse_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_regularactivity {
  background: url("/assets/custom/img_regularactivity_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_running {
  background: url("/assets/custom/img_running_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_saved {
  background: url("/assets/custom/img_saved_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_select {
  background: url("/assets/custom/img_select_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_settings {
  background: url("/assets/custom/img_settings_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_sleep {
  background: url("/assets/custom/img_sleep_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_smoke {
  background: url("/assets/custom/img_smoke_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_stress {
  background: url("/assets/custom/img_stress_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_swiming {
  background: url("/assets/custom/img_swiming_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_visitType {
  background: url("/assets/custom/img_visitType_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_waist {
  background: url("/assets/custom/img_waist_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_walking {
  background: url("/assets/custom/img_walking_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_weight {
  background: url("/assets/custom/img_weight_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
.iconselect_img_wellBeing {
  background: url("/assets/custom/img_wellBeing_gray.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30px, 30px, 30px, 30px;
  background-position: left, right;
  padding-left: 34px;
}
