.dashboard-block {
  margin-top: 40px;
}

.input-mini {
  width: 60px;
  margin-left: 4px;
}

.manual-row {
  padding: 10px;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.two-third {
  width: 66%;
}

.one-third {
  width: 34%;
}

.logbutton {
  width: 16%;
  padding: 4px;
  padding-top: 0;
  display: inline-block;
  color: #999;
  text-align: center;
}

.logbutton.selected i{
  color: #60b044;
}

.logbutton.selected div{
  color: #333;
}

.log-sign {
  height: 19px;
  margin: 0 auto;
  position: relative;
  width: 20px;
  color: white;
  background: image-url('log-sign.png') no-repeat ;
  top: -1px;
}
.log-icon {
  position: relative;

}

.logform {
  border: 1px solid #d8d8d8;
  min-height: 280px;
}

.logform>form {
  display: table;
  table-layout: fixed;
  background-color: white;
  border: 0;
}

.logform .entry {
//  display: inline-block;
  position: relative;
  margin-right: 5px;
  padding: 5px;
//  border: 1px solid #d4d4d4;
//  border-radius: 5px;
  font-family: sans-serif;
  white-space: nowrap;
  background: #fbfbfb no-repeat;
//  box-shadow: 0 0 0 3px #efefef;
  box-sizing: border-box;
}

.logform>form div.field {
  display: table-row;
}
.logform>form div.field>:first-child {
  display: table-cell;
//  padding: 15px 10px 15px 0;
  white-space: nowrap;
}


.logform label {
  margin-right: 5px;
  font-size: 16px;
  color: #666;
}

.boxed-group-inner form {
  background-color: white;
}

.entry-mini {
  width: 60px;
}
.entry-mini-half {
  width: 30px;
}
.entry-normal {
  width: 160px;
}

.entry-number {
  width: 30px;
  margin-right: 5px;
}

.logform .log-actions {
  display: table-cell;
  width: 100%;
  padding-top: 20px;
  text-align: right;
}


//
.event-list-header {
  margin: 0 0 15px;
  color: #666;
  border-bottom: 1px solid #ddd;
}
.event-list-header-item {
  display: inline-block;
  padding: 8px 12px 7px;
  font-size: 14px;
  line-height: 20px;
}

.events {
  float: none;
  width: auto;
}

.events .event:first-child {
  border-top: 0;
}
.events .event {
  position: relative;
  padding: 0 0 1em 45px;
  overflow: hidden;
  border-top: 1px solid #f1f1f1;
}

.body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333333;
}

.event-icon {
  position: absolute;
  top: 14px;
  left: 0;
  width: 32px;
  height: 32px;
  padding: 3px;
  color: #bbb;
}

.event-time {
  font-size: 12px;
  color: #bbb;
}

.event-title {
  font-weight: bold;
  font-size: 14px;
}
.event-title a {
  color: #4183c4;
  text-decoration: none;
  cursor: pointer;
}
.event-title a:visited {
  color: #4183c4;
}
.event-title a:hover {
  color: #4183c4;
  text-decoration: underline;
  background-color: #fff;
}

.event-details {
  color: #666;
}
.event-details a {
  text-decoration: none;
  color: #4183c4;
  background-color: #fff;
}

.event-details a:visited {
  color: #4183c4;
}
.event-details a:hover {
  color: #4183c4;
  text-decoration: underline;
  background-color: #fff;
}

// otherwise half of the spinner is not visible
#event-list div.progress-sign {
  padding-bottom: 30px;
}

.text-green {
  color: #60b044;
}
.text-red {
  color: red;
}

div.field i {
  vertical-align: middle;
  cursor: pointer;
}


.timer-time {
  color: #494847;
  font-size: 30px;
  font-weight: bold;
  padding: 8px 8px 8px 0;
  vertical-align: middle;
  width: 200px;
}

.stop-control, .delete-control {
  padding: 3px 4px;
  margin-left: 3px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  color: #fff;
  background-color: red;
  vertical-align: middle;
  cursor: pointer;
}

.edit-control  {
  padding: 3px 4px;
  margin-left: 3px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  color: #fff;
  background-color: #60b044;
  vertical-align: middle;
  cursor: pointer;
}

.edit-meas-control, .save-meas-control, .cancel-meas-control  {
  padding: 3px 4px;
  margin-left: 3px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  color: #fff;
  background-color: #60b044;
  vertical-align: middle;
  cursor: pointer;
  width: 36px;
}

.delete-meas-control {
  padding: 3px 4px;
  margin-left: 3px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  color: #fff;
  background-color: red;
  vertical-align: middle;
  cursor: pointer;
  width: 36px;
}
.cancel-meas-control, .delete-meas-control {
  width: 42px;
}
.stop-control-holder {
  height: 30px;
}
//
div.action-list {
  display: table;
  font-size: 15px;
  font-weight: bold;
}

div.action-item {
  display: table-row;
}
div.action-item span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 4px;
}
div.action-item i {
  display: table-cell;
  padding-left: 4px;
  cursor: pointer;
}

div.lifestyle-item {
  display: table-row;
}
div.lifestyle-item span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 4px;
}
div.lifestyle-item i {
  display: table-cell;
  padding-left: 4px;
  cursor: pointer;
}

/*
div.measure-list {
  display: table;
  font-size: 15px;
  margin-top: 10px;
}

div.measure-item {
  display: table-row;
}

div.measure-item span {
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  height: 30px;
}

div.measure-item label {
  vertical-align: middle;
}

div.measure-item i {
  display: table-cell;
  padding-left: 4px;
  cursor: pointer;
  vertical-align: middle;
}

div.measure-item i:first-child {
  padding-right: 6px;
}
*/
//div.act-message {
//  padding-top: 8px;
//}




div.list-container {
//  display: table;
  font-size: 15px;
  margin-top: 10px;
}
span.list-header {
  display: table-cell;
  padding-left: 4px;
  text-align: center;
  color: #333;

  font-size: 11px;
  font-weight: bold;
  vertical-align: middle;
  height: 30px;
}
span.list-attr {
  display: table-cell;
  padding-left: 4px;
  text-align: center;

  font-weight: bold;
  vertical-align: middle;
  height: 30px;
}
span.list-attr.label {
  font-size: 14px;
}
span.list-ctrl {
  display: table-cell;
  padding-left: 4px;
  text-align: center;

  font-weight: bold;
  vertical-align: middle;
  height: 30px;
}
span.list-edit {
  display: table-cell;
  padding-left: 4px;
  text-align: center;

  font-weight: bold;
  vertical-align: middle;
  height: 30px;
}
span.list-edit input {
  width: 100%;
  font-size: 14px;
  padding: 0px;
}
span.list-attr.unit {
  font-size: 11px;
  text-align: left;
}

.list-item i.header-icon {
  color: #1f78b4;
}

span.list-attr.short {
  width: 30px;
//  max-width: 30px;
}
span.list-attr.medium {
  width: 70px;
//  max-width: 67px;
}
span.list-attr.long {
  width: 124px;
  max-width: 124px;
}

span.list-edit input.short {
  width: 26px;
}
span.list-edit input.medium {
  width: 67px;
}
span.list-edit input.long {
  width: 120px;
}
span.list-edit input {
  font-size: 13px;
}
div.list-item {
  display: table-row;
}
div.list-item span:first-of-type {
  text-align: right;
}
div.list-item i {
  display: table-cell;
  padding-left: 4px;
  cursor: pointer;
  vertical-align: middle;
}

.recent-records-table {
  //  border: solid 1px;
  background-color: #f6e8c3;
  padding-right: 6px;
  margin-top: 10px;
}