.exerciseStyle .ui-selectmenu-button {
  margin-left: 20px;
  border: solid 1px #F09938 !important;
  background: white;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  float: left;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}



.dataFormField.ui-slider {
  margin-top: 12px;
}

