$arc_stroke: white;

.explore-block {
  margin-top: 20px;
}

path.colset6_0 {
  fill: #d73027;
  stroke: $arc_stroke;
}
path.colset6_1 {
  fill: #f46d43;
  stroke: $arc_stroke;
}
path.colset6_2 {
  fill: #fdae61;
  stroke: $arc_stroke;
}
path.colset6_3 {
  fill: #fee090;
  stroke: $arc_stroke;
}
path.colset6_4 {
  fill: #e0f3f8;
  stroke: $arc_stroke;
}
path.colset6_5 {
  fill: #abd9e9;
  stroke: $arc_stroke;
}
path.colset6_6 {
  fill: #74add1;
  stroke: $arc_stroke;
}
path.colset6_7 {
  fill: #4575b4;
  stroke: $arc_stroke;
}
