// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.friend-select-holder{
  display: block;
//  right: 10px;

  position: fixed;
  z-index: 21;

  box-sizing: border-box;
}
.friend-select{
  position: relative;
  width: 190px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  font-size: 12px;
  color: #666;
  background-color: #fff;
  background-clip: padding-box;
//  border: 1px solid rgba(200,200,200,0.4);
  border-radius: 3px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  top: 22px;
  left: -35px;
}

.friend-select-header {
  padding: 8px 10px;
  background: #f5f5f5;
  border-bottom: 1px solid rgba(200,200,200,0.4);
}

.friend-select-header .friend-select-title {
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}

.friend-select-list {
  max-height: 400px;
  overflow: auto;
  position: relative;
}

.friend-select-item {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  color: inherit;
}

.friend-select-item .friend-select-item-icon {
  display: table-cell;
  color: transparent;
  vertical-align: top;
  padding: 8px 0 8px 8px;
  width: 24px;
  text-align: center;
}

.friend-select-item-text {
  display: table-cell;
  vertical-align: top;
  padding: 8px 0 8px 8px;
  text-align: left;
}

i.friend-select-arrow {
  cursor: pointer;
  vertical-align: middle;
}

.friend-message.green {
  color: green;
}
.friend-message.red {
  color: red;
}

.friend-list {

}

i.activated {
  color: #60b044;
}

span.activate_friend {
  color: #4183c4;
  cursor: pointer;
}

i.success {
  color: #60b044;
}

i.failure {
  color: red;
}