.health-block {
  margin-top: 20px;
}


.axis path{
  fill:none;
  stroke: #c0c0c0;
}
.axis {
  font-size:8pt;
  font-family:sans-serif;
}
.axis text {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  cursor: default;
  line-height: 14px;
  fill: #666;
}
.tick {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  cursor: default;
  line-height: 14px;
  fill: #666;
}
circle {
  fill: rgb(47, 181, 233);
}

circle.hr {
  fill: rgb(47, 181, 233);
}

line.press {
  stroke: rgb(47, 181, 233)
}


path.line.systolicbp-avg {
  stroke: #0570b0;
}

path.line.diastolicbp-avg {
  stroke: #74a9cf;
}

path.line.pulse-avg {
  stroke: #f4a582;
}

circle.systolicbp-avg {
  fill: #0570b0;
}

circle.diastolicbp-avgavg {
  fill: #74a9cf;
}

circle.pulse-avg {
  fill: #f4a582;
}

//
path.line.walking_duration-avg {
  stroke: #0570b0;
}
circle.walking_duration-avg {
  fill: #0570b0;
}

path.line.running_duration-avg {
  stroke: #f4a9cf;
}
circle.running_duration-avg {
  fill: #f4a9cf;
}

path.line.transport_duration-avg {
  stroke: #74a9cf;
}
circle.transport_duration-avg {
  fill: #74a9cf;
}

path.line.steps-avg {
  stroke: #74a9cf;
}
circle.steps-avg {
  fill: #74a9cf;
}

path.line.cycling_duration-avg {
  stroke: #f40582;
}
circle.cycling_duration-avg {
  fill: #f40582;
}