.health-block {
  margin-top: 20px;
}


.axis path{
  fill:none;
  stroke: #c0c0c0;
}
.axis {
  font-size:8pt;
  font-family:sans-serif;
}
.axis text {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  cursor: default;
  line-height: 14px;
  fill: #666;
}
.tick {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  cursor: default;
  line-height: 14px;
  fill: #666;
}
circle {
  fill: rgb(47, 181, 233);
}

circle.hr {
  fill: rgb(47, 181, 233);
}

line.press {
  stroke: rgb(47, 181, 233)
}

path.line.sysavg {
  stroke: #0570b0;
}

path.line.diaavg {
  stroke: #74a9cf;
}

path.line.hravg {
  stroke: #f4a582;
}

circle.sysavg {
  fill: #0570b0;
}

circle.diaavg {
  fill: #74a9cf;
}

circle.hravg {
  fill: #f4a582;
}