.health-block {
  margin-top: 20px;
}


.axis path{
  fill:none;
  stroke: #c0c0c0;
}
.axis {
  font-size:8pt;
  font-family:sans-serif;
}
.axis text {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  cursor: default;
  line-height: 14px;
  fill: #666;
}
.tick {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  cursor: default;
  line-height: 14px;
  fill: #666;
}
circle {
  fill: rgb(47, 181, 233);
}

circle.hr {
  fill: rgb(47, 181, 233);
}

line.press {
  stroke: rgb(47, 181, 233)
}
.toolbox {
  padding: 5px 5px;
  background: #fff;
  border: 2px solid #d8d8d8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #666;
  font-size: 13px;
}

.toolbox-inner {
  padding: 10px;
  background: #fff;
  color: #666;
  font-size: 13px;
}

.toolbox-item{
  display: inline-block;
}

.toolbox-item-icon{
  text-align: center;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

a.mytool{
  text-decoration: none;
}
