@import "config";

.columns {
  margin-right: -10px;
  margin-left: -10px;
  box-sizing: border-box;
}
.columns:before {
  display: table;
  content: "";
}

.columns:after {
  display: table;
  clear: both;
  content: "";
}

.column {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.one-half {
  width: 50%;
}

.boxed-group {
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px;
}

.one-half .boxed-group, .dashboard-sidebar .boxed-group {
  margin-bottom: 20px;
}

.boxed-group>h3, .boxed-group .heading {
  background-color: #f5f5f5;
  margin: 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  display: block;
}

.boxed-group.flush .boxed-group-inner {
  padding: 0;
}

.boxed-group-inner {
  padding: 1px 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #666;
  font-size: 13px;
}

.settings-block {
  margin-top: 20px;
}

.button {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  text-decoration: none;
}
.button.primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  text-decoration: none;
}
.button.primary:hover {
  background-image: none;
}

.button.danger, .minibutton.danger {
  color: #900;
}
.button.danger:hover {
  color: #fff;
  background-color: #900;
}

.minibutton {
  padding: 0 10px;
  line-height: 24px;
}

.nomargin-top {
  margin-top: 0;
}
.table-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #999;
  border-bottom: 1px solid #e5e5e5;
}

.table-list-item {
  position: relative;
  list-style: none;
  display: table-row;
}

.title-link {
  display: inline-block;
  margin-bottom: 2px;
  padding-right: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
  word-break: break-word;
  text-decoration: none;
}

.title-link:hover {
  color: $hover_color;
  background-color: white;
}

.table-list-cell {
  position: relative;
  display: table-cell;
  padding: 8px 10px;
  font-size: 12px;
  vertical-align: top;
  border-top: 1px solid #eee;
}
.table-list-cell-type {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 20px;
  text-align: center;
  color: #333;
}