@import "config";



.settings-block {
  margin-top: 20px;
}



.nomargin-top {
  margin-top: 0;
}
.table-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #999;
  border-bottom: 1px solid #e5e5e5;
}

.table-list-item {
  position: relative;
  list-style: none;
  display: table-row;
}

.title-link {
  display: inline-block;
  margin-bottom: 2px;
  padding-right: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
  word-break: break-word;
  text-decoration: none;
}

.title-link:hover {
  color: $hover_color;
  background-color: white;
}

.table-list-cell {
  position: relative;
  display: table-cell;
  padding: 8px 10px;
  font-size: 12px;
  vertical-align: top;
  border-top: 1px solid #eee;
}
.table-list-cell-type {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 20px;
  text-align: center;
  color: #333;
}