//header
h3 span.detail {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
}

//graph

.training-block {
  margin-top: 20px;
}

.meas-col {
  display: block;
  //  line-height: 0;
  content: "";
  width: 33%;
  float: left;
}
.meas-col:last-child .meas-block {
  text-align: right;
}
.meas-col:last-child .meas-block .meas-val {
  padding-right: 0;
}
.meas-col:after {
  clear: both;
}

.meas-center {
  text-align: center;
}
.meas-block {
  float: left;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
}

.meas-val {
  color: #494847;
  font-size: 30px;
  font-weight: bold;
  padding: 8px 8px 8px 0;
}

.meas-small {
  font-size: 16px;
  padding-bottom: 2px;
}


// d3

#moves-chart {
  padding: 0;
}


path {
  fill:none;
  stroke:black;
  stroke-width:2px;
}

//.tick {
//  fill:none;
//  stroke:black;
//}

rect{
//  stroke:black;
//  stroke-width:0.5px;

}
rect.walking {
  fill:#ffac29;
}
rect.cycling {
  fill:#fe6420;
}
rect.running{
  fill:#fe201b;
}
rect.selected{
  fill:#ccc;
}
//axis

.axis path{
  fill:none;
  stroke: #c0c0c0;
}
//.axis {
//  font-size:8pt;
//  font-family:sans-serif;
//}
.axis text {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  cursor: default;
  line-height: 14px;
  fill: #666;
}
.tick text {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  cursor: default;
  line-height: 14px;
  fill: #666;
}
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
