// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

.signin {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.container:before{
  content: " ";
  display: table;
}
.container:after{
  clear: both;
  content: " ";
  display: table;
}

.sidebar {
  background: white;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  display: table;
  position: relative;
  width: 25%;
  float: left;
  box-sizing: border-box;
}
.main {
  width: 75%;
}

.button-holder {
  width: 100%;
  text-align: center;
}
